Repository TheMorpheus407/the-dmz: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.svelte": ["eslint --fix", "prettier --write --plugin prettier-plugin-svelte"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.css": ["prettier --write"]
}

feat: [medium] game incident routes lack http integration tests
  apps/api/src/modules/game/incident/__tests__/incident.routes.integration.test.ts
Due: eslint --fix, prettier --write

feat(backend): [low] chat module mixes kebab-case and dot-case file naming within same directory
  apps/api/src/modules/chat/__tests__/chat.broadcast.handler.test.ts
  apps/api/src/modules/chat/__tests__/chat.moderation.service.test.ts
  apps/api/src/modules/chat/__tests__/chat.service.events.test.ts
  apps/api/src/modules/chat/__tests__/chat.service.unit.test.ts
  apps/api/src/modules/chat/chat.broadcast.handler.ts
  apps/api/src/modules/chat/chat.moderation.service.ts
  apps/api/src/modules/chat/chat.plugin.ts
  apps/api/src/modules/chat/chat.service.ts
  apps/api/src/modules/chat/index.ts
Due: eslint --fix, prettier --write

test(test): [medium] e2e test gap: game settings changes not verified for persistence across reload
  e2e/game/settings-persistence.spec.ts
Due: eslint --fix, prettier --write

feat(backend): [medium] coop session status strings used as magic literals instead of coopsessionsta
  apps/api/src/modules/multiplayer/coop-session-event-emitter.ts
  apps/api/src/modules/multiplayer/coop-session.service.ts
Due: eslint --fix, prettier --write

feat(api): [high] xapi sendstatementswithretry lrs communication error paths untested
  apps/api/src/__tests__/setup.ts
  apps/api/src/modules/xapi/__tests__/xapi.lrs-communication.test.ts
Due: eslint --fix, prettier --write

feat(api): [medium] email-handlers.ts has two functions (resolveandapplydecision, handlesubmitde
  apps/api/src/modules/game/engine/__tests__/email-handler-submit-decision.test.ts
  apps/api/src/modules/game/engine/handlers/__tests__/email-handler-helpers.test.ts
  apps/api/src/modules/game/engine/handlers/email-handlers.ts
Due: eslint --fix, prettier --write

feat: [critical] userbase type is missing role and isactive fields that exist in userschema
  packages/shared/src/types/auth.ts
  packages/shared/src/utils/type-guards.test.ts
  packages/shared/src/utils/type-guards.ts
Due: eslint --fix, prettier --write

feat(web): [medium] hooks.server.ts missing handleerror export for ssr error context
  apps/web/src/__tests__/hooks.server.test.ts
  apps/web/src/app.d.ts
  apps/web/src/hooks.server.ts
  apps/web/src/routes/(auth)/+error.svelte
  apps/web/src/routes/(game)/+error.svelte
  apps/web/src/routes/(public)/+error.svelte
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

test(test): [medium] e2e test gap: logout flow ui button and session termination untested
  apps/web/src/routes/(admin)/+layout.svelte
  apps/web/src/routes/(game)/+layout.svelte
  e2e/auth/logout.spec.ts
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat: [low] achievement routes lack http integration tests
  apps/api/src/modules/achievements/__tests__/achievement.routes.integration.test.ts
Due: eslint --fix, prettier --write

feat(web): [medium] coop-websocket.ts handlemessage has 7-branch if/else-if chain suitable for
  apps/web/src/lib/game/services/coop-websocket.test.ts
  apps/web/src/lib/game/services/coop-websocket.ts
  logs/issues/1736/commit-message.txt
Due: eslint --fix, prettier --write

feat: [critical] gamestate has two completely different definitions - schema vs interface
  packages/shared/src/schemas/game-engine.schema.ts
  packages/shared/src/schemas/game-state-consolidation.test.ts
Due: eslint --fix, prettier --write

feat(api): [medium] sse handler waitformessages() silent catch block untested
  apps/api/src/modules/notification/__tests__/sse.handler.test.ts
  apps/api/src/modules/notification/websocket/sse.handler.ts
Due: eslint --fix, prettier --write

feat: [high] cursorpaginationinput type does not match cursorpaginationschema
  packages/shared/src/schemas/common.schema.ts
  packages/shared/src/schemas/cursor-pagination-input-type.test.ts
  packages/shared/src/types/common.ts
Due: eslint --fix, prettier --write

feat(api): [medium] chat moderation status strings used as magic literals instead of moderations
  apps/api/src/modules/chat/chat.service.ts
  apps/api/src/modules/chat/chat.ws.handler.ts
Due: eslint --fix, prettier --write

feat(frontend): [low] admin pages use vague result variable naming across 15+ api calls
  apps/web/src/routes/(admin)/admin/+page.svelte
  apps/web/src/routes/(admin)/compliance/+page.svelte
  apps/web/src/routes/(admin)/compliance/[frameworkId]/+page.svelte
  apps/web/src/routes/(admin)/onboarding/+page.svelte
  apps/web/src/routes/(admin)/saml/+page.svelte
  apps/web/src/routes/(admin)/scim/+page.svelte
  apps/web/src/routes/(admin)/trainer/+page.svelte
  apps/web/src/routes/(admin)/users/+page.svelte
  apps/web/src/routes/(admin)/users/[id]/+page.svelte
  apps/web/src/routes/(admin)/users/new/+page.svelte
Due: eslint --fix, prettier --write --plugin prettier-plugin-svelte

feat: [high] duplicate event type definitions with inconsistent naming between game_event_types and
  apps/api/src/modules/game/engine/events/__tests__/event-types-unification.test.ts
  apps/api/src/modules/game/engine/events/shared-types.ts
  apps/api/src/shared/events/__tests__/event-bus-validation.test.ts
  apps/api/src/shared/events/__tests__/ownership-manifest-game-events.test.ts
  apps/api/src/shared/events/event-bus.ts
  apps/api/src/shared/events/ownership-manifest.ts
  packages/shared/src/game/__tests__/event-adapter-constants.test.ts
  packages/shared/src/game/__tests__/event-types.test.ts
  packages/shared/src/game/event-adapter.ts
  packages/shared/src/game/event-types.ts
Due: eslint --fix, prettier --write

feat: [medium] narrative module routes (645 lines) lack http integration tests
  apps/api/src/modules/narrative/__tests__/narrative.routes.integration.test.ts
Due: eslint --fix, prettier --write

feat(backend): [medium] xapi.service.ts sendpendingstatements (115 lines) and lti.service.ts verifyl
  apps/api/src/modules/lti/__tests__/lti.service.test.ts
  apps/api/src/modules/lti/lti.service.ts
  apps/api/src/modules/xapi/__tests__/xapi.send-pending-statements.test.ts
  apps/api/src/modules/xapi/__tests__/xapi.service.test.ts
  apps/api/src/modules/xapi/xapi.service.ts
Due: eslint --fix, prettier --write

feat(api): [high] oidc/saml preflight validator network error handling untested
  apps/api/src/modules/auth/preflight/__tests__/sso-validators.test.ts
Due: eslint --fix, prettier --write

feat: [high] incident routes use empty object schemas providing zero runtime validation
  apps/api/src/modules/game/incident/__tests__/incident.schemas.test.ts
  apps/api/src/modules/game/incident/incident.schemas.ts
  packages/shared/src/schemas/incident.schema.ts
Due: eslint --fix, prettier --write

feat(frontend): [medium] eslint prefer-const misconfigured for svelte 5 () rune
  apps/web/src/lib/components/TestWrapper.svelte
  apps/web/src/lib/ui/components/Badge.svelte
  apps/web/src/lib/ui/components/Button.svelte
  apps/web/src/lib/ui/components/ContextMenu.svelte
  apps/web/src/lib/ui/components/CrtControlsPanel.svelte
  apps/web/src/lib/ui/components/Drawer.svelte
  apps/web/src/lib/ui/components/IntensitySlider.svelte
  apps/web/src/lib/ui/components/LoadingState.svelte
  apps/web/src/lib/ui/components/Modal.svelte
  apps/web/src/lib/ui/components/Panel.svelte
  apps/web/src/lib/ui/components/SoundControlsPanel.svelte
  apps/web/src/lib/ui/components/Tabs.svelte
  eslint.config.mjs
Due: eslint --fix, prettier --write --plugin prettier-plugin-svelte

feat(web): [low] settings.ts deepmerge recursive function has 4-level nesting with complex type
  apps/web/src/lib/stores/settings/utils.ts
Due: eslint --fix, prettier --write

feat: [medium] content routes use empty object schemas across scenarios, chapters, documents, season
  apps/api/src/modules/content/__tests__/content.schemas.test.ts
  apps/api/src/modules/content/__tests__/season-chapter-schemas.test.ts
  apps/api/src/modules/content/chapters/chapters.routes.ts
  apps/api/src/modules/content/documents/documents.routes.ts
  apps/api/src/modules/content/scenarios/scenarios.routes.ts
  apps/api/src/modules/content/seasons/seasons.routes.ts
  packages/shared/scripts/generate-json-schemas.ts
  packages/shared/src/schemas/content.schema.ts
  packages/shared/src/schemas/json-schemas.generated.ts
Due: eslint --fix, prettier --write

feat(api): [medium] service account status strings used as magic literals instead of shared cons
  apps/api/src/modules/auth/service-account.service.ts
  packages/shared/src/constants/auth.test.ts
  packages/shared/src/constants/auth.ts
  packages/shared/src/constants/index.ts
Due: eslint --fix, prettier --write

feat(deps): dompurify misplaced in root dependencies instead of devdependencies
  package.json
Due: prettier --write

feat(backend): [high] lti routes token exchange fetch network error unhandled
  apps/api/src/modules/lti/__tests__/lti-token-exchange.test.ts
  apps/api/src/modules/lti/lti.routes.ts
  packages/shared/src/schemas/json-schemas.generated.ts
Due: eslint --fix, prettier --write

feat(api): [low] auth module mixes dot and hyphen separators in file names
  apps/api/src/modules/auth/__tests__/auth.oauth-client-errors.test.ts
  apps/api/src/modules/auth/__tests__/auth.session-refresh-errors.test.ts
  apps/api/src/modules/auth/auth.crypto.ts
  apps/api/src/modules/auth/auth.login.service.ts
  apps/api/src/modules/auth/auth.oauth-client.service.ts
  apps/api/src/modules/auth/auth.password.service.ts
  apps/api/src/modules/auth/auth.preflight.routes.ts
  apps/api/src/modules/auth/auth.preflight.service.ts
  apps/api/src/modules/auth/auth.registration.service.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/auth/auth.session.service.ts
  apps/api/src/modules/auth/index.ts
  apps/api/src/modules/auth/preflight/__tests__/sso-validators.test.ts
  apps/api/src/modules/auth/preflight/oidc.validator.ts
  apps/api/src/modules/auth/preflight/preflight.errors.ts
  apps/api/src/modules/auth/preflight/preflight.orchestrator.ts
  apps/api/src/modules/auth/preflight/saml.validator.ts
  apps/api/src/modules/auth/preflight/scim.validator.ts
Due: eslint --fix, prettier --write

feat(web): [high] @sentry/sveltekit installed but never configured or used
  apps/web/package.json
  apps/web/src/__tests__/hooks.sentry.test.ts
  apps/web/src/__tests__/sentry-removal.test.ts
  apps/web/src/hooks.server.ts
  apps/web/src/lib/sentry.ts
Due: eslint --fix, prettier --write

feat(frontend): [medium] frontend session status strings used as magic literals instead of shared co
  apps/web/src/lib/constants/session.test.ts
  apps/web/src/lib/constants/session.ts
Due: eslint --fix, prettier --write

feat(frontend): [medium] frontend session status strings used as magic literals instead of shared co
  apps/web/src/lib/stores/session.test.ts
  apps/web/src/lib/stores/session.ts
Due: eslint --fix, prettier --write

chore: [medium] license-checker not in package.json runs via npx in ci
  .github/workflows/security.yml
  package.json
Due: prettier --write

feat(auth): [high] auth.routes.ts (2131 lines) handles 5 distinct responsibility domains violatin
  packages/shared/package.json
Due: prettier --write

feat: [high] frontend gameeventtype uses different naming than backend game_event_types
  apps/web/src/lib/game/state/events.test.ts
  apps/web/src/lib/game/state/events.ts
Due: eslint --fix, prettier --write

test(e2e): [medium] e2e test gap: login form authentication error handling untested
  apps/web/src/routes/(auth)/login/+page.svelte
  e2e/auth/login.spec.ts
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

test(e2e): [medium] e2e test gap: register form validation error handling untested
  e2e/smoke/register-errors.spec.ts
Due: eslint --fix, prettier --write

feat(auth): [medium] auth.events.ts (2089 lines) consolidates all auth domain events violating sr
  apps/api/src/modules/auth/auth.events.ts
  apps/api/src/modules/auth/events/api-key.events.ts
  apps/api/src/modules/auth/events/api-key.ts
  apps/api/src/modules/auth/events/delegation.events.ts
  apps/api/src/modules/auth/events/delegation.ts
  apps/api/src/modules/auth/events/jwt.events.ts
  apps/api/src/modules/auth/events/jwt.ts
  apps/api/src/modules/auth/events/login.events.ts
  apps/api/src/modules/auth/events/login.ts
  apps/api/src/modules/auth/events/mfa.events.ts
  apps/api/src/modules/auth/events/mfa.ts
  apps/api/src/modules/auth/events/oauth.events.ts
  apps/api/src/modules/auth/events/oauth.ts
  apps/api/src/modules/auth/events/scim.events.ts
  apps/api/src/modules/auth/events/scim.ts
  apps/api/src/modules/auth/events/session.events.ts
  apps/api/src/modules/auth/events/session.ts
  apps/api/src/modules/auth/events/sso.events.ts
  apps/api/src/modules/auth/events/sso.ts
  apps/api/src/modules/auth/events/user.events.ts
  apps/api/src/modules/auth/events/user.ts
Due: eslint --fix, prettier --write

feat(api): [low] channel type strings used as magic literals instead of channeltypes constants
  apps/api/src/modules/chat/chat-flags.ts
Due: eslint --fix, prettier --write

feat(deps): [high] eslint v9 to v10 upgrade with stricter rules
  package.json
  pnpm-lock.yaml
Due: prettier --write
