Repository TheMorpheus407/the-dmz: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.svelte": ["eslint --fix", "prettier --write --plugin prettier-plugin-svelte"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.css": ["prettier --write"]
}

test(infra): set up vitest unit testing infrastructure
  apps/api/package.json
  apps/api/src/__tests__/helpers/db.ts
  apps/api/src/__tests__/helpers/factory.ts
  apps/api/src/__tests__/setup.ts
  apps/api/vitest.config.ts
  apps/web/package.json
  apps/web/src/__tests__/fixtures/Smoke.svelte
  apps/web/src/__tests__/helpers/render.ts
  apps/web/src/__tests__/setup.ts
  apps/web/src/__tests__/smoke/smoke-component.test.ts
  apps/web/vitest.config.ts
  auto-develop.sh
  eslint.config.mjs
  logs/issues/13/implementation.md
  logs/issues/13/issue.json
  logs/issues/13/research.md
  logs/issues/13/review-1.md
  logs/issues/13/review-2.md
  package.json
  packages/shared/package.json
  packages/shared/src/constants/error-codes.test.ts
  packages/shared/vitest.config.ts
  pnpm-lock.yaml
  turbo.json
  vitest.workspace.ts
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

chore(config): fix commit hooks for auto-develop
  .commitlintrc.json
  auto-develop.sh
Due: prettier --write

test(e2e): set up vitest unit testing infrastructure
  apps/web/package.json
  apps/web/tsconfig.json
  logs/issues/13/implementation.md
  logs/issues/13/issue.json
  logs/issues/13/research.md
  logs/issues/13/review-1.md
  logs/issues/13/review-2.md
Due: prettier --write

chore(config): switch auto-develop finalization to unbounded retries
  MEMORY.md
  auto-develop.sh
Due: prettier --write

test(e2e): set up vitest unit testing infrastructure
  apps/api/src/__tests__/helpers/db.test.ts
  apps/api/src/__tests__/helpers/db.ts
  apps/api/src/__tests__/setup.ts
  logs/issues/13/commit-message.txt
  logs/issues/13/implementation.md
  logs/issues/13/issue.json
  logs/issues/13/research.md
  logs/issues/13/review-1.md
  logs/issues/13/review-2.md
Due: eslint --fix, prettier --write

test(e2e): set up playwright e2e testing infrastructure
  .github/workflows/ci.yml
  .gitignore
  apps/web/package.json
  apps/web/src/routes/+layout.svelte
  e2e/fixtures/auth.ts
  e2e/fixtures/base.ts
  e2e/global-setup.ts
  e2e/global-teardown.ts
  e2e/helpers/api.ts
  e2e/helpers/cleanup.ts
  e2e/helpers/db-seed.ts
  e2e/helpers/setup-state.ts
  e2e/smoke/accessibility.spec.ts
  e2e/smoke/health.spec.ts
  e2e/smoke/navigation.spec.ts
  eslint.config.mjs
  logs/issues/14/commit-message.txt
  logs/issues/14/implementation.md
  logs/issues/14/issue.json
  logs/issues/14/research.md
  logs/issues/14/review-1.md
  logs/issues/14/review-2.md
  package.json
  playwright.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

ci(infra): configure unified `pnpm dev` orchestration script
  .env.example
  .github/workflows/ci.yml
  apps/api/Dockerfile
  apps/api/package.json
  apps/api/src/__tests__/config.test.ts
  apps/api/src/config.ts
  apps/api/src/server.ts
  apps/web/src/lib/config/dev-ports.test.ts
  apps/web/src/lib/config/dev-ports.ts
  apps/web/vite.config.ts
  e2e/helpers/api.ts
  logs/issues/15/commit-message.txt
  logs/issues/15/implementation.md
  logs/issues/15/issue.json
  logs/issues/15/research.md
  logs/issues/15/review-1.md
  logs/issues/15/review-2.md
  package.json
  scripts/dev-preflight.mjs
  scripts/dev-preflight.test.mjs
  turbo.json
Due: eslint --fix, prettier --write

ci(api): configure .env.example and environment variable validation
  .env.example
  apps/api/src/__tests__/config.test.ts
  apps/api/src/app.ts
  apps/api/src/config.ts
  apps/api/src/server.ts
  apps/web/src/hooks.server.ts
  apps/web/src/lib/config/env.test.ts
  apps/web/src/lib/config/env.ts
  logs/issues/16/commit-message.txt
  logs/issues/16/implementation.md
  logs/issues/16/research.md
  logs/issues/16/review-1.md
  logs/issues/16/review-2.md
  packages/shared/src/env.test.ts
  packages/shared/src/env.ts
  packages/shared/src/index.ts
Due: eslint --fix, prettier --write

test(db): set up test database seeding infrastructure
  apps/api/package.json
  apps/api/src/__tests__/helpers/factory.test.ts
  apps/api/src/__tests__/helpers/factory.ts
  apps/api/src/shared/database/seed-test.ts
  apps/api/src/shared/database/seed.ts
  package.json
  packages/shared/package.json
  packages/shared/src/testing/factories.test.ts
  packages/shared/src/testing/factories.ts
  packages/shared/src/testing/index.ts
  packages/shared/src/testing/seed-ids.test.ts
  packages/shared/src/testing/seed-ids.ts
Due: eslint --fix, prettier --write

feat(db): create initial database schema migration
  apps/api/drizzle.config.ts
  apps/api/src/__tests__/helpers/db.test.ts
  apps/api/src/__tests__/helpers/db.ts
  apps/api/src/shared/database/migrations/0001_initial_schema.sql
  apps/api/src/shared/database/migrations/meta/0001_snapshot.json
  apps/api/src/shared/database/migrations/meta/_journal.json
  apps/api/src/shared/database/schema/__tests__/schema.test.ts
  apps/api/src/shared/database/schema/index.ts
  apps/api/src/shared/database/schema/tenants.ts
  apps/api/src/shared/database/schema/users.ts
  apps/api/src/shared/database/seed.ts
  packages/shared/src/testing/factories.ts
  packages/shared/src/testing/seed-ids.ts
Due: eslint --fix, prettier --write

chore(config): repository configuration (.gitignore, .gitattributes, license)
  .gitattributes
  .gitignore
  LICENSE
  logs/issues/19/commit-message.txt
  logs/issues/19/implementation.md
  logs/issues/19/issue.json
  logs/issues/19/research.md
  logs/issues/19/review-1.md
  logs/issues/19/review-2.md
Due: prettier --write

ci(infra): configure docker compose health checks and service readiness
  docker-compose.yml
  package.json
Due: prettier --write

chore(config): create developer documentation (readme.md + contributing.md)
  CONTRIBUTING.md
  README.md
Due: prettier --write

chore(config): gitignore logs/issues/ pipeline artifacts
  .gitignore
Due: none

fix(ci): resolve CI and Docker build failures
  .github/workflows/ci.yml
  apps/api/Dockerfile
  apps/web/Dockerfile
  scripts/dev-preflight.mjs
  scripts/verify-husky-config.mjs
Due: prettier --write

fix: resolve post-implementation issues across issues #15-#21
  .env.example
  .github/workflows/ci.yml
  .gitignore
  CONTRIBUTING.md
  README.md
  apps/api/Dockerfile
  apps/api/package.json
  apps/api/src/__tests__/config.test.ts
  apps/api/src/__tests__/cors.test.ts
  apps/api/src/app.ts
  apps/api/src/config.ts
  apps/api/src/shared/database/migrations/0002_uuid_v7.sql
  apps/api/src/shared/database/migrations/meta/0002_snapshot.json
  apps/api/src/shared/database/migrations/meta/_journal.json
  apps/api/src/shared/database/schema/tenants.ts
  apps/api/src/shared/database/schema/users.ts
  apps/web/package.json
  apps/web/src/lib/config/dev-ports.ts
  docker-compose.yml
  e2e/helpers/api.ts
  e2e/helpers/db-seed.ts
  packages/shared/src/env.test.ts
  packages/shared/src/env.ts
  packages/shared/src/testing/factories.test.ts
  packages/shared/src/testing/factories.ts
  scripts/dev-preflight.mjs
  scripts/dev-preflight.test.mjs
Due: eslint --fix, prettier --write

chore(config): set up architecture decision records (adr template + initial adrs)
  README.md
  docs/adr/000-template.md
  docs/adr/001-frontend-framework-sveltekit.md
  docs/adr/002-modular-monolith-architecture.md
  docs/adr/003-event-sourcing-canonical-state.md
  docs/adr/004-postgresql-rls-multitenancy.md
  docs/adr/005-shared-schema-first-tenancy.md
Due: prettier --write

ci(infra): configure dependency scanning and security baseline in ci
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .husky/pre-commit
  .secretlintignore
  .secretlintrc.json
  CONTRIBUTING.md
  apps/api/package.json
  apps/api/src/__tests__/security-headers.test.ts
  apps/api/src/app.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

test(web): set up accessibility testing foundation (axe-core in ci)
  .github/workflows/ci.yml
  apps/web/package.json
  apps/web/src/__tests__/setup.ts
  apps/web/src/__tests__/smoke/smoke-component.accessibility.test.ts
  apps/web/src/__tests__/types/vitest-axe.d.ts
  e2e/helpers/a11y.ts
  e2e/smoke/accessibility.spec.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore(config): configure vs code workspace settings and debug configuration
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  README.md
  package.json
  scripts/debug-vitest-current.mjs
  scripts/debug-vitest-current.test.mjs
  scripts/vscode-config.test.mjs
Due: prettier --write

ci(infra): configure automated dependency updates (renovate)
  .github/workflows/ci.yml
  .github/workflows/renovate.yml
  package.json
  renovate.json
  scripts/renovate-config.test.mjs
Due: prettier --write

feat(api): set up openapi/swagger documentation endpoint
  .env.example
  apps/api/package.json
  apps/api/src/__tests__/config.test.ts
  apps/api/src/__tests__/swagger.test.ts
  apps/api/src/app.ts
  apps/api/src/plugins/swagger.ts
  packages/shared/src/env.test.ts
  packages/shared/src/env.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(api): implement in-process event bus with domainevent interface
  apps/api/src/app.ts
  apps/api/src/shared/events/__tests__/event-bus.plugin.test.ts
  apps/api/src/shared/events/__tests__/event-bus.test.ts
  apps/api/src/shared/events/event-bus.plugin.ts
  apps/api/src/shared/events/event-bus.ts
  apps/api/src/shared/events/event-types.ts
  apps/api/src/shared/events/index.ts
  apps/api/src/shared/types/fastify.d.ts
Due: eslint --fix, prettier --write

ci(api): configure security headers middleware (helmet, csp, hsts)
  .env.example
  apps/api/src/__tests__/config.test.ts
  apps/api/src/__tests__/security-headers.test.ts
  apps/api/src/app.ts
  apps/api/src/shared/middleware/security-headers.config.ts
  apps/api/src/shared/middleware/security-headers.ts
  packages/shared/src/env.test.ts
  packages/shared/src/env.ts
Due: eslint --fix, prettier --write

feat(api): implement request input sanitization middleware
  .env.example
  apps/api/src/__tests__/config.test.ts
  apps/api/src/app.ts
  apps/api/src/shared/middleware/__tests__/sanitize-input.test.ts
  apps/api/src/shared/middleware/error-handler.ts
  apps/api/src/shared/middleware/sanitize-input.ts
  apps/api/src/shared/types/fastify.d.ts
  apps/api/src/shared/utils/__tests__/sanitizer.test.ts
  apps/api/src/shared/utils/sanitizer.ts
  packages/shared/src/env.test.ts
  packages/shared/src/env.ts
Due: eslint --fix, prettier --write

feat(api): create auth rbac and session schema migration
  apps/api/drizzle.config.ts
  apps/api/src/__tests__/helpers/db.test.ts
  apps/api/src/__tests__/helpers/db.ts
  apps/api/src/db/schema/auth/index.ts
  apps/api/src/db/schema/auth/permissions.ts
  apps/api/src/db/schema/auth/role-permissions.ts
  apps/api/src/db/schema/auth/roles.ts
  apps/api/src/db/schema/auth/sessions.ts
  apps/api/src/db/schema/auth/sso-connections.ts
  apps/api/src/db/schema/auth/user-roles.ts
  apps/api/src/shared/database/migrations/0002_auth_rbac_sessions.sql
  apps/api/src/shared/database/migrations/__tests__/0002_auth_rbac_sessions.test.ts
  apps/api/src/shared/database/migrations/meta/0003_snapshot.json
  apps/api/src/shared/database/migrations/meta/_journal.json
  apps/api/src/shared/database/reset.ts
  apps/api/src/shared/database/schema/__tests__/schema.test.ts
  apps/api/src/shared/database/schema/auth/permissions.ts
  apps/api/src/shared/database/schema/auth/role-permissions.ts
  apps/api/src/shared/database/schema/auth/roles.ts
  apps/api/src/shared/database/schema/auth/sessions.ts
  apps/api/src/shared/database/schema/auth/sso-connections.ts
  apps/api/src/shared/database/schema/auth/user-roles.ts
  apps/api/src/shared/database/schema/index.ts
  apps/api/src/shared/database/schema/users.ts
  apps/api/src/shared/database/seed.ts
Due: eslint --fix, prettier --write

ci(infra): create application dockerfiles for api and web
  .dockerignore
  apps/api/.dockerignore
  apps/api/Dockerfile
  apps/web/.dockerignore
  apps/web/Dockerfile
  apps/web/src/__tests__/health.route.test.ts
  apps/web/src/routes/health/+server.ts
  e2e/smoke/health.spec.ts
Due: eslint --fix, prettier --write

ci(api): configure rate limiting middleware (@fastify/rate-limit)
  .env.example
  apps/api/package.json
  apps/api/src/__tests__/config.test.ts
  apps/api/src/app.ts
  apps/api/src/modules/health/__tests__/health.service.test.ts
  apps/api/src/modules/health/health.routes.ts
  apps/api/src/modules/health/health.service.ts
  apps/api/src/shared/database/redis.ts
  apps/api/src/shared/middleware/__tests__/rate-limiter.test.ts
  apps/api/src/shared/middleware/error-handler.ts
  apps/api/src/shared/middleware/rate-limiter.ts
  apps/api/src/shared/types/common.ts
  packages/shared/src/constants/error-codes.test.ts
  packages/shared/src/constants/error-codes.ts
  packages/shared/src/env.test.ts
  packages/shared/src/env.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: dependency dashboard
  .github/workflows/renovate.yml
  renovate.json
  scripts/renovate-config.test.mjs
Due: prettier --write

feat: renovate dashboard
  .github/workflows/renovate.yml
  renovate.json
  scripts/renovate-config.test.mjs
Due: prettier --write

Add robust DONE streak handling to issue creator
  auto-create-issues.sh
Due: none

gitignore
  .gitignore
Due: none

chore(config): add opencode agent support to automation scripts
  auto-create-issues.sh
  auto-develop.sh
Due: none

feat(config): add single-issue test controls to auto-develop
  auto-develop.sh
Due: none

docs(config): add copy-paste help examples for all agents
  auto-create-issues.sh
  auto-develop.sh
Due: none

auto-develop
  auto-develop.sh
Due: none

Issue #37: Implement local auth module with JWT sessions
  apps/api/package.json
  apps/api/src/__tests__/config.test.ts
  apps/api/src/__tests__/cors.test.ts
  apps/api/src/__tests__/security-headers.test.ts
  apps/api/src/__tests__/swagger.test.ts
  apps/api/src/app.ts
  apps/api/src/modules/auth/__tests__/auth.routes.test.ts
  apps/api/src/modules/auth/__tests__/auth.service.test.ts
  apps/api/src/modules/auth/auth.errors.ts
  apps/api/src/modules/auth/auth.plugin.ts
  apps/api/src/modules/auth/auth.repo.ts
  apps/api/src/modules/auth/auth.routes.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/auth/auth.types.ts
  apps/api/src/modules/auth/index.ts
  apps/api/src/plugins/swagger.ts
  apps/api/src/shared/database/connection.ts
  apps/api/src/shared/database/migrations/0001_initial_schema.sql
  apps/api/src/shared/database/schema/users.ts
  apps/api/src/shared/middleware/error-handler.ts
  packages/shared/src/env.test.ts
  packages/shared/src/env.ts
  packages/shared/src/schemas/auth.schema.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Issue #38: Implement frontend design tokens and theme architecture
  apps/web/src/lib/stores/theme.test.ts
  apps/web/src/lib/stores/theme.ts
  apps/web/src/lib/ui/tokens/index.css
  apps/web/src/lib/ui/tokens/tokens.test.ts
  apps/web/src/routes/(admin)/+layout.svelte
  apps/web/src/routes/(auth)/+layout.svelte
  apps/web/src/routes/(game)/+layout.svelte
  apps/web/src/routes/(public)/+layout.svelte
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat(web): build shared ui primitives and accessible route shells
  apps/web/src/__tests__/components/badge.test.ts
  apps/web/src/__tests__/components/button.test.ts
  apps/web/src/__tests__/components/loading-state.test.ts
  apps/web/src/__tests__/components/modal.test.ts
  apps/web/src/__tests__/components/panel.test.ts
  apps/web/src/__tests__/components/tabs.test.ts
  apps/web/src/__tests__/components/ui-primitives.accessibility.test.ts
  apps/web/src/lib/ui/components/Badge.svelte
  apps/web/src/lib/ui/components/Button.svelte
  apps/web/src/lib/ui/components/LoadingState.svelte
  apps/web/src/lib/ui/components/Modal.svelte
  apps/web/src/lib/ui/components/Panel.svelte
  apps/web/src/lib/ui/components/Tabs.svelte
  apps/web/src/lib/ui/components/index.ts
  apps/web/src/lib/ui/index.ts
  apps/web/src/lib/ui/tokens/index.css
  apps/web/src/routes/(admin)/admin/+page.svelte
  apps/web/src/routes/(auth)/login/+page.svelte
  apps/web/src/routes/(game)/game/+page.svelte
  apps/web/src/routes/(public)/+page.svelte
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

fix: make review verdict extraction resilient to agent formatting
  auto-develop.sh
Due: none
