Repository TheMorpheus407/the-dmz: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat: implement redis email pool with pre-generation and pool management
  apps/api/src/modules/content/email-pool/__tests__/email-pool.service.test.ts
  apps/api/src/modules/content/email-pool/email-pool.service.ts
  apps/api/src/modules/content/email-pool/email-pool.types.ts
  apps/api/src/modules/content/email-pool/index.ts
  apps/api/src/modules/content/index.ts
  apps/api/src/shared/cache/redis-key-manifest.ts
  apps/api/src/shared/database/redis.ts
  apps/api/src/shared/middleware/__tests__/rate-limiter.test.ts
Due: eslint --fix, prettier --write

feat: implement bullmq job processing for ai email generation
  apps/api/package.json
  apps/api/src/modules/ai/workers/__tests__/queues.test.ts
  apps/api/src/modules/ai/workers/__tests__/scheduler.test.ts
  apps/api/src/modules/ai/workers/email-generator.worker.ts
  apps/api/src/modules/ai/workers/index.ts
  apps/api/src/modules/ai/workers/processors/batch-generate.processor.ts
  apps/api/src/modules/ai/workers/processors/generate-email.processor.ts
  apps/api/src/modules/ai/workers/processors/index.ts
  apps/api/src/modules/ai/workers/processors/regenerate-failed.processor.ts
  apps/api/src/modules/ai/workers/queues.ts
  apps/api/src/modules/ai/workers/scheduler.ts
  packages/shared/src/env.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: implement safety guardrails for ai-generated content
  apps/api/src/modules/ai-pipeline/__tests__/ai-pipeline.routes.test.ts
  apps/api/src/modules/ai-pipeline/__tests__/human-review-trigger.service.test.ts
  apps/api/src/modules/ai-pipeline/ai-pipeline.events.ts
  apps/api/src/modules/ai-pipeline/ai-pipeline.service.ts
  apps/api/src/modules/ai-pipeline/ai-pipeline.types.ts
  apps/api/src/modules/ai-pipeline/human-review-trigger.service.ts
  apps/api/src/modules/ai-pipeline/index.ts
  apps/api/src/shared/events/ownership-manifest.ts
Due: eslint --fix, prettier --write

feat(api): implement narrative module v1 with factions, faction relations, and morpheus coaching
  apps/api/src/db/schema/content/index.ts
  apps/api/src/db/schema/content/narrative.schema.ts
  apps/api/src/modules/manifest.ts
  apps/api/src/modules/narrative/__tests__/narrative.service.test.ts
  apps/api/src/modules/narrative/index.ts
  apps/api/src/modules/narrative/narrative.plugin.ts
  apps/api/src/modules/narrative/narrative.repo.ts
  apps/api/src/modules/narrative/narrative.routes.ts
  apps/api/src/modules/narrative/narrative.service.ts
  apps/api/src/shared/database/migrations/0015_narrative_module.sql
  apps/api/src/shared/database/migrations/0016_admin_permission_backfill.sql
  apps/api/src/shared/database/migrations/meta/_journal.json
Due: eslint --fix, prettier --write

feat(api): create season 1 act i content (signal loss - phishing/access control)
  apps/api/openapi/openapi.v1.json
  apps/api/src/db/schema/content/index.ts
  apps/api/src/db/schema/content/seasons.schema.ts
  apps/api/src/modules/content/__tests__/season-chapter-selection.test.ts
  apps/api/src/modules/content/content.repo.ts
  apps/api/src/modules/content/content.routes.ts
  apps/api/src/modules/content/content.service.ts
  apps/api/src/shared/database/seed-season-one.ts
Due: eslint --fix, prettier --write

feat(api): implement difficulty classification system (5-tier aligned with threat tiers)
  apps/api/openapi/openapi.v1.json
  apps/api/src/db/schema/content/difficulty.schema.ts
  apps/api/src/db/schema/content/index.ts
  apps/api/src/modules/content/content.repo.ts
  apps/api/src/modules/content/content.routes.ts
  apps/api/src/modules/content/content.service.ts
  apps/api/src/modules/content/difficulty-classifier/__tests__/difficulty-classifier.test.ts
  apps/api/src/modules/content/difficulty-classifier/difficulty-classifier.service.ts
  apps/api/src/modules/content/difficulty-classifier/feature-extraction.ts
  apps/api/src/modules/content/difficulty-classifier/index.ts
  apps/api/src/modules/content/difficulty-classifier/rule-based-classifier.ts
  apps/api/src/modules/content/index.ts
  apps/api/src/shared/database/migrations/0017_difficulty_classification.sql
  apps/api/src/shared/database/migrations/meta/_journal.json
  packages/shared/src/schemas/content.schema.ts
Due: eslint --fix, prettier --write

feat(api): implement content quality scoring for ai-generated emails
  apps/api/openapi/openapi.v1.json
  apps/api/src/db/schema/content/index.ts
  apps/api/src/db/schema/content/quality.schema.ts
  apps/api/src/modules/ai-pipeline/ai-pipeline.service.ts
  apps/api/src/modules/content/content.repo.ts
  apps/api/src/modules/content/content.routes.ts
  apps/api/src/modules/content/content.service.ts
  apps/api/src/modules/content/index.ts
  apps/api/src/modules/content/quality-scorer/__tests__/quality-scorer.service.test.ts
  apps/api/src/modules/content/quality-scorer/index.ts
  apps/api/src/modules/content/quality-scorer/quality-scorer.service.ts
Due: eslint --fix, prettier --write

feat: implement crt effects suite (scanlines, glow, noise, vignette, curvature)
  apps/web/src/lib/effects/crt-effects.test.ts
  apps/web/src/lib/effects/crt-effects.ts
  apps/web/src/lib/effects/index.ts
  apps/web/src/lib/stores/theme.test.ts
  apps/web/src/routes/(game)/+layout.svelte
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat: implement crt controls panel with per-effect toggle and intensity slider
  apps/api/openapi/openapi.v1.json
  apps/web/src/lib/stores/session.ts
  apps/web/src/lib/stores/theme.test.ts
  apps/web/src/lib/stores/theme.ts
  apps/web/src/lib/ui/components/CrtControlsPanel.svelte
  apps/web/src/lib/ui/components/IntensitySlider.svelte
  apps/web/src/routes/(game)/+layout.svelte
  packages/shared/src/schemas/json-schemas.generated.ts
  packages/shared/src/schemas/preferences.schema.ts
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat(web): implement all 13 document type renderers with proper interactivity
  apps/web/src/lib/game/components/BlacklistNotice.svelte
  apps/web/src/lib/game/components/DataSalvageContract.svelte
  apps/web/src/lib/game/components/DocumentViewer.svelte
  apps/web/src/lib/game/components/FacilityStatusReport.svelte
  apps/web/src/lib/game/components/IncidentLog.svelte
  apps/web/src/lib/game/components/IntelligenceBrief.svelte
  apps/web/src/lib/game/components/RansomNote.svelte
  apps/web/src/lib/game/components/StorageLeaseAgreement.svelte
  apps/web/src/lib/game/components/ThreatAssessmentSheet.svelte
  apps/web/src/lib/game/components/UpgradeProposal.svelte
  apps/web/src/lib/game/components/WhitelistException.svelte
  apps/web/src/lib/game/components/document-viewer.ts
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat: implement dialog system with character dialogue and branching
  apps/web/src/lib/effects/crt-effects.test.ts
  apps/web/src/lib/effects/crt-effects.ts
  apps/web/src/lib/game/commands.ts
  apps/web/src/lib/game/components/dialog/CharacterPortrait.svelte
  apps/web/src/lib/game/components/dialog/ChoicePanel.svelte
  apps/web/src/lib/game/components/dialog/DialogContainer.svelte
  apps/web/src/lib/game/components/dialog/DialogText.svelte
  apps/web/src/lib/game/components/dialog/index.ts
  apps/web/src/lib/game/services/index.ts
  apps/web/src/lib/game/services/terminal-commands.test.ts
  apps/web/src/lib/game/services/terminal-commands.ts
  apps/web/src/lib/game/state/events.ts
  apps/web/src/lib/game/store/ui-store.test.ts
  apps/web/src/lib/game/store/ui-store.ts
  apps/web/src/lib/ui/tokens/index.css
  packages/shared/src/types/dialog.ts
  packages/shared/src/types/index.ts
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat: implement sound system with 6 audio categories
  apps/web/src/lib/audio/audio.test.ts
  apps/web/src/lib/audio/index.ts
  apps/web/src/lib/audio/sound-manager.ts
  apps/web/src/lib/audio/types.ts
  apps/web/src/lib/stores/index.ts
  apps/web/src/lib/stores/settings.ts
  apps/web/src/lib/stores/sound-caption.test.ts
  apps/web/src/lib/stores/sound-caption.ts
  apps/web/src/lib/stores/sound.test.ts
  apps/web/src/lib/stores/sound.ts
  apps/web/src/lib/ui/components/SoundCaption.svelte
  apps/web/src/lib/ui/components/SoundControlsPanel.svelte
  apps/web/src/lib/ui/components/SoundIndicator.svelte
  apps/web/src/routes/(game)/+layout.svelte
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat(web): implement animation system with 8 animation patterns
  apps/web/src/lib/ui/tokens/index.css
  apps/web/src/lib/ui/tokens/tokens.test.ts
  packages/shared/src/schemas/json-schemas.generated.ts
  packages/shared/src/schemas/preferences.schema.test.ts
  packages/shared/src/schemas/preferences.schema.ts
Due: eslint --fix, prettier --write

feat: implement upgrade shop screen with catalog, cost/benefit display, and purchase flow
  apps/api/openapi/openapi.v1.json
  apps/web/src/lib/game/components/UpgradeShop.svelte
  apps/web/src/lib/game/data/upgrade-catalog.test.ts
  apps/web/src/lib/game/data/upgrade-catalog.ts
  apps/web/src/routes/(game)/+layout.svelte
  packages/shared/src/types/index.ts
  packages/shared/src/types/upgrades.ts
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat: implement threat monitor screen with detailed threat intelligence view
  apps/web/src/lib/game/components/ThreatMonitor.svelte
  apps/web/src/lib/game/components/threat-monitor.test.ts
  apps/web/src/lib/game/components/threat-monitor.ts
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat: implement incident response view with evidence logs and containment/recovery actions
  apps/web/src/lib/game/components/IncidentResponseView.svelte
  apps/web/src/lib/game/components/incident-response.test.ts
  apps/web/src/lib/game/components/incident-response.ts
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat(web): implement ransom lockout screen with full-screen takeover and altered crt effects
  apps/web/src/lib/game/components/RansomLockoutScreen.svelte
  apps/web/src/lib/game/store/index.ts
  apps/web/src/lib/game/store/ransom-lockout-store.test.ts
  apps/web/src/lib/game/store/ransom-lockout-store.ts
  apps/web/src/routes/(game)/+layout.svelte
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat(web): implement tooltip and help system with diegetic help command
  apps/web/src/lib/game/components/KeyboardShortcutHandler.svelte
  apps/web/src/lib/game/data/help-content.test.ts
  apps/web/src/lib/game/data/help-content.ts
  apps/web/src/lib/game/services/terminal-commands.test.ts
  apps/web/src/lib/game/services/terminal-commands.ts
  apps/web/src/lib/ui/components/Tooltip.svelte
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat(web): implement right-click context menus with in-document actions
  apps/web/src/__tests__/components/context-menu.test.ts
  apps/web/src/lib/game/components/EmailViewer.svelte
  apps/web/src/lib/ui/components/ContextMenu.svelte
  apps/web/src/lib/ui/components/context-menu-types.ts
  apps/web/src/lib/ui/components/context-menu.ts
  apps/web/src/lib/ui/components/index.ts
  apps/web/src/lib/ui/index.ts
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat(web): implement drag-and-drop document comparison for side-by-side review
  apps/web/src/lib/game/components/DraggableDocument.svelte
  apps/web/src/lib/game/components/KeyboardComparisonHandler.svelte
  apps/web/src/lib/game/components/SplitPaneDocumentViewer.svelte
  apps/web/src/lib/game/store/document-comparison-store.test.ts
  apps/web/src/lib/game/store/document-comparison-store.ts
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat(api): implement redis caching strategy for content, auth policy, and feature flags
  apps/api/src/app.ts
  apps/api/src/modules/cache/cache.plugin.ts
  apps/api/src/modules/cache/cache.routes.ts
  apps/api/src/modules/cache/index.ts
  apps/api/src/shared/cache/__tests__/auth-policy-cache.test.ts
  apps/api/src/shared/cache/__tests__/content-cache.test.ts
  apps/api/src/shared/cache/__tests__/game-state-cache.test.ts
  apps/api/src/shared/cache/__tests__/metrics.test.ts
  apps/api/src/shared/cache/index.ts
  apps/api/src/shared/cache/redis-key-manifest.ts
Due: eslint --fix, prettier --write

feat: implement websocket protocol with sse fallback for real-time game communication
  apps/api/openapi/openapi.v1.json
  apps/api/package.json
  apps/api/src/app.ts
  apps/api/src/modules/notification/index.ts
  apps/api/src/modules/notification/notification.routes.ts
  apps/api/src/modules/notification/websocket/__tests__/websocket.gateway.test.ts
  apps/api/src/modules/notification/websocket/index.ts
  apps/api/src/modules/notification/websocket/sse.handler.ts
  apps/api/src/modules/notification/websocket/websocket.gateway.ts
  apps/api/src/modules/notification/websocket/websocket.handler.ts
  apps/api/src/modules/notification/websocket/websocket.types.ts
  apps/api/src/shared/cache/auth-policy-cache.ts
  apps/api/src/shared/cache/cache-invalidation.ts
  apps/api/src/shared/cache/content-cache.ts
  apps/api/src/shared/cache/game-state-cache.ts
  apps/api/src/shared/cache/metrics.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(api): implement per-endpoint rate limiting with standard headers
  apps/api/openapi/openapi.v1.json
  apps/api/src/app.ts
  apps/api/src/modules/admin/admin-rate-limit.routes.ts
  apps/api/src/modules/admin/index.ts
  apps/api/src/modules/auth/auth.routes.ts
  apps/api/src/modules/game/session/game-session.routes.ts
  apps/api/src/modules/webhooks/webhook.routes.ts
  apps/api/src/shared/middleware/rate-limiter.ts
  packages/shared/src/contracts/rate-limit-policy.ts
Due: eslint --fix, prettier --write

ci(api): implement monitoring and observability with prometheus, grafana, and alertmanager
  apps/api/src/app.ts
  apps/api/src/modules/ai/workers/email-generator.worker.ts
  apps/api/src/modules/content/email-pool/email-pool.service.ts
  apps/api/src/modules/game/session/game-session.service.ts
  apps/api/src/modules/notification/websocket/websocket.gateway.ts
  apps/api/src/shared/metrics/__tests__/hooks.test.ts
  apps/api/src/shared/metrics/__tests__/plugin.test.ts
  apps/api/src/shared/metrics/ai-metrics.ts
  apps/api/src/shared/metrics/format.ts
  apps/api/src/shared/metrics/game-metrics.ts
  apps/api/src/shared/metrics/hooks.ts
  apps/api/src/shared/metrics/http-metrics.ts
  apps/api/src/shared/metrics/index.ts
  apps/api/src/shared/metrics/plugin.ts
  apps/api/src/shared/metrics/queue-metrics.ts
  apps/api/src/shared/metrics/websocket-metrics.ts
  docker-compose.yml
  docker/monitoring/alertmanager/alertmanager.yml
  docker/monitoring/grafana/provisioning/dashboards/api-performance.json
  docker/monitoring/grafana/provisioning/dashboards/cache-performance.json
  docker/monitoring/grafana/provisioning/dashboards/dashboards.yml
  docker/monitoring/grafana/provisioning/dashboards/error-budget.json
  docker/monitoring/grafana/provisioning/dashboards/infrastructure-health.json
  docker/monitoring/grafana/provisioning/dashboards/tenant-resources.json
  docker/monitoring/grafana/provisioning/dashboards/websocket-performance.json
  docker/monitoring/grafana/provisioning/datasources/datasources.yml
  docker/monitoring/prometheus/prometheus.yml
  docker/monitoring/prometheus/rules/alerts.yml
  package.json
Due: eslint --fix, prettier --write

ci(api): implement redis email pool management with pre-generation strategy and low-watermark alerts
  apps/api/src/modules/content/email-pool/__tests__/email-pool.service.test.ts
  apps/api/src/modules/content/email-pool/email-pool.service.ts
  apps/api/src/modules/content/email-pool/email-pool.types.ts
  apps/api/src/shared/database/redis.ts
  apps/api/src/shared/metrics/hooks.ts
  apps/api/src/shared/metrics/index.ts
  apps/api/src/shared/metrics/plugin.ts
  apps/api/src/shared/middleware/__tests__/rate-limiter.test.ts
Due: eslint --fix, prettier --write

feat(api): implement mfa/webauthn authentication for admin and super admin access
  apps/api/openapi/openapi.v1.json
  apps/api/package.json
  apps/api/src/db/schema/auth/backup-codes.ts
  apps/api/src/db/schema/auth/index.ts
  apps/api/src/db/schema/auth/mfa-credentials.ts
  apps/api/src/modules/auth/__tests__/totp.test.ts
  apps/api/src/modules/auth/mfa.routes.ts
  apps/api/src/modules/auth/mfa.service.ts
  apps/api/src/modules/auth/totp.ts
  apps/api/src/modules/routes/schema-ownership-manifest.ts
  apps/api/src/shared/database/migrations/0018_mfa_credentials_backup_codes.sql
  apps/api/src/shared/database/migrations/meta/_journal.json
  packages/shared/scripts/generate-json-schemas.ts
  packages/shared/src/env.ts
  packages/shared/src/schemas/json-schemas.generated.ts
  packages/shared/src/schemas/mfa.schema.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

ci(api): implement security hardening with container hardening, network policies, owasp top 10 mitig
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .owasp-dependency-check-suppressions.xml
  .secretlintrc.json
  apps/api/Dockerfile
  apps/api/src/__tests__/ssrf-protection.test.ts
  apps/api/src/app.ts
  apps/api/src/shared/plugins/ssrf-protection.plugin.ts
  apps/web/Dockerfile
  docs/security/README.md
  docs/security/encryption.md
  docs/security/pii-handling.md
  docs/security/threat-modeling.md
  k8s/base/kustomization.yaml
  k8s/base/network-policies.yaml
Due: eslint --fix, prettier --write

ci(api): implement disaster recovery with daily postgresql backups, pitr capability, and backup test
  docker-compose.yml
  docker/backup/archive_wal.sh
  docker/backup/backup.sh
  docker/backup/backup_status.sh
  docker/backup/restore.sh
  docker/backup/test_restore.sh
  docker/monitoring/prometheus/rules/alerts.yml
  docker/postgres/backup.conf
  docker/postgres/wal.conf
  docs/disaster_recovery_runbook.md
Due: prettier --write

feat: implement load testing baseline for 1k concurrent users
  .github/workflows/load-tests.yml
  eslint.config.mjs
  package.json
  tests/load/README.md
  tests/load/fixtures/users.js
  tests/load/k6-config.js
  tests/load/lib/api-client.js
  tests/load/scenarios/auth-storm.js
  tests/load/scenarios/degradation.js
  tests/load/scenarios/email-triage.js
  tests/load/scenarios/game-session.js
  tests/load/scenarios/mixed-workload.js
  tests/load/scenarios/sustained-load.js
  tests/load/scenarios/websocket.js
Due: eslint --fix, prettier --write

feat: implement api versioning with v1 prefix, version headers, and deprecation strategy
  apps/api/src/app.ts
  apps/api/src/shared/middleware/__tests__/version-headers.test.ts
  apps/api/src/shared/middleware/deprecation.ts
  apps/api/src/shared/middleware/version-headers.ts
  apps/api/src/shared/policies/api-versioning-policy.ts
  apps/api/src/shared/routes/version.routes.ts
Due: eslint --fix, prettier --write

feat(web): implement responsive layouts for desktop, tablet, and mobile viewports
  apps/web/src/__tests__/layout/game-shell.test.ts
  apps/web/src/lib/components/TestWrapper.svelte
  apps/web/src/lib/utils/gestures.test.ts
  apps/web/src/lib/utils/gestures.ts
  apps/web/src/routes/(game)/+layout.svelte
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat(web): implement touch interactions for tablet and mobile
  apps/web/src/lib/game/components/DocumentViewer.svelte
  apps/web/src/lib/game/components/InboxList.svelte
  apps/web/src/lib/game/components/PhaseRenderer.svelte
  apps/web/src/lib/utils/gestures.test.ts
  apps/web/src/lib/utils/gestures.ts
  apps/web/src/lib/utils/index.ts
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat(web): implement pwa with service worker, workbox caching, and push notifications
  apps/web/package.json
  apps/web/src/app.html
  apps/web/src/hooks.client.ts
  apps/web/src/lib/pwa/index.ts
  apps/web/src/lib/pwa/push.ts
  apps/web/src/lib/pwa/pwa.test.ts
  apps/web/src/lib/storage/content.ts
  apps/web/src/lib/storage/event-queue.ts
  apps/web/src/lib/storage/idb.ts
  apps/web/src/lib/storage/index.ts
  apps/web/src/lib/storage/session.ts
  apps/web/src/lib/storage/storage.test.ts
  apps/web/src/lib/stores/connectivity.ts
  apps/web/src/lib/stores/index.ts
  apps/web/src/lib/utils/id.ts
  apps/web/static/favicon.svg
  apps/web/static/robots.txt
  apps/web/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: implement offline game mode with 50 handcrafted emails playable without connectivity
  apps/web/src/lib/game/components/OfflineBadge.svelte
  apps/web/src/lib/game/components/OfflineBanner.svelte
  apps/web/src/lib/game/data/offline-emails.ts
  apps/web/src/lib/game/services/game-init.ts
  apps/web/src/lib/game/services/offline-engine.ts
  apps/web/src/lib/game/services/offline-mode.ts
  apps/web/src/lib/game/services/touch-state.ts
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat(web): implement indexeddb persistence for offline content and event queue storage
  apps/web/src/lib/storage/decisions.ts
  apps/web/src/lib/storage/emails.ts
  apps/web/src/lib/storage/game-state.ts
  apps/web/src/lib/storage/idb.ts
  apps/web/src/lib/storage/index.ts
  apps/web/src/lib/storage/settings.ts
Due: eslint --fix, prettier --write

feat(web): implement sync strategy with reconnection and conflict resolution
  apps/web/src/lib/game/services/offline-engine.ts
  apps/web/src/lib/game/services/offline-mode.ts
  apps/web/src/lib/game/services/sync-notifications.ts
  apps/web/src/lib/game/services/sync-service.ts
  apps/web/src/lib/storage/event-queue.ts
  apps/web/src/lib/storage/session.ts
  apps/web/src/lib/storage/sync.test.ts
  apps/web/src/lib/stores/connectivity.ts
  apps/web/src/lib/ui/components/QueueDepthIndicator.svelte
  apps/web/src/lib/ui/components/SyncProgressIndicator.svelte
  apps/web/src/lib/ui/components/SyncStatusIndicator.svelte
  apps/web/src/lib/ui/components/index.ts
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat: implement steam packaging with electron or tauri wrapper and local saves
  apps/desktop/README.md
  apps/desktop/desktop.test.ts
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/build.rs
  apps/desktop/src-tauri/capabilities/default.json
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src-tauri/tauri.conf.json
  apps/desktop/src/index.ts
  apps/desktop/src/lib/platform/index.ts
  apps/desktop/src/lib/save/index.ts
  apps/desktop/src/lib/steam/index.ts
  apps/desktop/tsconfig.json
  apps/desktop/vitest.config.ts
Due: eslint --fix, prettier --write

feat: implement settings system with display/accessibility/gameplay/audio/account categories
  apps/api/openapi/openapi.v1.json
  apps/api/src/db/ownership/manifest.ts
  apps/api/src/db/schema/auth/user-profiles.ts
  apps/api/src/modules/manifest.ts
  apps/api/src/modules/settings/index.ts
  apps/api/src/modules/settings/settings.plugin.ts
  apps/api/src/modules/settings/settings.routes.ts
  apps/api/src/modules/settings/settings.service.ts
  apps/api/src/shared/database/migrations/0019_user_preferences.sql
  apps/web/src/lib/api/settings.ts
  apps/web/src/lib/stores/settings.ts
  apps/web/src/routes/(game)/settings/+page.svelte
  packages/shared/src/schemas/json-schemas.generated.ts
  packages/shared/src/schemas/preferences.schema.test.ts
  packages/shared/src/schemas/preferences.schema.ts
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat(web): implement custom theme editor with user-configurable theme and contrast validation
  apps/api/openapi/openapi.v1.json
  apps/web/src/lib/storage/idb.ts
  apps/web/src/lib/stores/theme.ts
  apps/web/src/lib/themes/__tests__/theme-validation.test.ts
  apps/web/src/lib/themes/index.ts
  apps/web/src/lib/themes/storage.ts
  apps/web/src/lib/themes/validation.ts
  apps/web/src/lib/ui/tokens/index.css
  apps/web/src/routes/(game)/settings/+page.svelte
  apps/web/src/routes/(game)/settings/display/+page.svelte
  packages/shared/src/constants/taxonomy.ts
  packages/shared/src/schemas/json-schemas.generated.ts
  packages/shared/src/types/index.ts
  packages/shared/src/types/theme.ts
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat(web): implement accessibility audit v1 with automated axe-core and manual nvda/voiceover testin
  e2e/smoke/accessibility-m6.spec.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.{ts,tsx,js,jsx}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.css)
  prettier --write --plugin prettier-plugin-svelte: any of: *.svelte
