Repository TheMorpheus407/the-dmz: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat(web): implement high-contrast theme with full wcag 2.1 aa compliance
  apps/web/src/lib/stores/theme.test.ts
  apps/web/src/lib/stores/theme.ts
  apps/web/src/lib/ui/tokens/index.css
Due: eslint --fix, prettier --write

feat(web): implement color-blind modes with protanopia, deuteranopia, and tritanopia palettes
  apps/web/src/lib/stores/settings.ts
  apps/web/src/lib/stores/theme.test.ts
  apps/web/src/lib/stores/theme.ts
  apps/web/src/lib/ui/tokens/index.css
  apps/web/src/routes/(game)/+layout.svelte
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat(web): implement performance optimization with code splitting, lazy loading, and virtualized lis
  apps/web/src/lib/analytics/index.ts
  apps/web/src/lib/effects/index.ts
  apps/web/src/lib/game/components/ClientList.svelte
  apps/web/src/lib/game/components/facility-dashboard.test.ts
  apps/web/src/lib/performance/device-detector.test.ts
  apps/web/src/lib/performance/device-detector.ts
  apps/web/src/lib/performance/index.ts
  apps/web/src/lib/performance/lazy-loader.test.ts
  apps/web/src/lib/performance/lazy-loader.ts
  apps/web/src/lib/performance/performance-monitor.ts
  apps/web/src/lib/stores/settings.ts
  apps/web/src/lib/ui/components/Panel.svelte
  apps/web/src/lib/ui/components/VirtualizedList.svelte
  apps/web/src/routes/(game)/+layout.svelte
  apps/web/src/routes/(game)/settings/+page.svelte
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat: implement season 1 acts ii & iii and finale to complete signal loss narrative
  apps/api/src/shared/database/seed-email-templates.ts
  apps/api/src/shared/database/seed-season-one.ts
  docker-compose.yml
  packages/shared/src/constants/taxonomy.test.ts
Due: eslint --fix, prettier --write

chore: add seed files to secretlint ignore for false positive bypass
  .secretlintignore
  pnpm-lock.yaml
Due: prettier --write

feat: implement event schema, taxonomy, and core loop instrumentation
  apps/api/src/modules/game/engine/__tests__/engine.events.test.ts
  apps/api/src/modules/game/engine/engine.events.ts
  packages/shared/src/constants/competency.test.ts
  packages/shared/src/constants/competency.ts
  packages/shared/src/constants/index.ts
  packages/shared/src/schemas/analytics.schema.test.ts
  packages/shared/src/schemas/analytics.schema.ts
  packages/shared/src/schemas/index.ts
Due: eslint --fix, prettier --write

feat: implement event ingestion pipeline and analytics event store
  apps/api/src/db/schema/analytics/index.ts
  apps/api/src/modules/analytics/__tests__/circuit-breaker.test.ts
  apps/api/src/modules/analytics/__tests__/event-validator.test.ts
  apps/api/src/modules/analytics/__tests__/player-profile.service.test.ts
  apps/api/src/modules/analytics/analytics.plugin.ts
  apps/api/src/modules/analytics/analytics.routes.ts
  apps/api/src/modules/analytics/analytics.service.ts
  apps/api/src/modules/analytics/analytics.types.ts
  apps/api/src/modules/analytics/circuit-breaker.ts
  apps/api/src/modules/analytics/event-validator.ts
  apps/api/src/modules/analytics/index.ts
  apps/api/src/modules/analytics/player-profile.service.ts
  apps/api/src/modules/manifest.ts
  apps/api/src/shared/database/migrations/0020_analytics_module.sql
  apps/api/src/shared/database/migrations/meta/_journal.json
Due: eslint --fix, prettier --write

feat: implement phishing metrics and decision quality scoring
  apps/api/src/modules/analytics/__tests__/decision-quality.service.test.ts
  apps/api/src/modules/analytics/__tests__/metrics-cache.test.ts
  apps/api/src/modules/analytics/__tests__/phishing-metrics.service.test.ts
  apps/api/src/modules/analytics/analytics.routes.ts
  apps/api/src/modules/analytics/decision-quality.service.ts
  apps/api/src/modules/analytics/index.ts
  apps/api/src/modules/analytics/metrics-cache.ts
  apps/api/src/modules/analytics/phishing-metrics.service.ts
Due: eslint --fix, prettier --write

feat: implement player skill profiles, competency framework, and behavioral analytics
  apps/api/src/db/schema/analytics/index.ts
  apps/api/src/modules/analytics/__tests__/behavioral-metrics.service.test.ts
  apps/api/src/modules/analytics/__tests__/player-profile.service.test.ts
  apps/api/src/modules/analytics/__tests__/pseudonymization.service.test.ts
  apps/api/src/modules/analytics/__tests__/retention-analytics.service.test.ts
  apps/api/src/modules/analytics/behavioral-metrics.service.ts
  apps/api/src/modules/analytics/player-profile.service.ts
  apps/api/src/modules/analytics/pseudonymization.service.ts
  apps/api/src/modules/analytics/retention-analytics.service.ts
Due: eslint --fix, prettier --write

feat: implement evidence weighting, baseline calibration, retention analytics, data quality, pseudon
  apps/api/src/modules/analytics/__tests__/player-profile.service.test.ts
  apps/api/src/modules/analytics/player-profile.service.ts
Due: eslint --fix, prettier --write

feat: implement row-level security (rls) policies for tenant-scoped data isolation
  .secretlintignore
  apps/api/src/modules/auth/__tests__/rls-policies.test.ts
  apps/api/src/shared/database/migrations/0021_row_level_security_policies.sql
  apps/api/src/shared/database/schema/tenant-policy.ts
  apps/api/src/shared/middleware/tenant-context.ts
Due: eslint --fix, prettier --write

feat: implement automated tenant provisioning with record creation, default roles, and initial admin
  apps/api/openapi/openapi.v1.json
  apps/api/src/app.ts
  apps/api/src/modules/admin/__tests__/password.utils.test.ts
  apps/api/src/modules/admin/__tests__/tenant-provisioning.types.test.ts
  apps/api/src/modules/admin/admin-tenants.routes.ts
  apps/api/src/modules/admin/index.ts
  apps/api/src/modules/admin/tenant-provisioning.service.ts
  apps/api/src/modules/admin/tenant-provisioning.types.ts
  apps/api/src/shared/database/migrations/0022_tenant_provisioning.sql
  apps/api/src/shared/database/migrations/__tests__/guardrails.test.ts
  apps/api/src/shared/database/migrations/meta/_journal.json
  apps/api/src/shared/database/schema/tenants.ts
  apps/api/src/shared/utils/password.ts
Due: eslint --fix, prettier --write

chore: add password utils test to secretlintignore
  .secretlintignore
Due: none

feat(api): implement rbac engine with 5 built-in roles and permission catalog
  apps/api/openapi/openapi.v1.json
  apps/api/src/app.ts
  apps/api/src/modules/admin/__tests__/role-assignment.service.test.ts
  apps/api/src/modules/admin/admin-roles.routes.ts
  apps/api/src/modules/admin/index.ts
  apps/api/src/modules/admin/role-assignment.service.ts
  apps/api/src/modules/admin/tenant-provisioning.service.ts
Due: eslint --fix, prettier --write

feat(api): implement tenant context middleware with postgresql session variable injection
  apps/api/src/plugins/__tests__/tenant-context.plugin.test.ts
  apps/api/src/plugins/tenant-context.ts
  apps/api/src/shared/middleware/tenant-context.ts
Due: eslint --fix, prettier --write

feat(api): implement audit log v1 with immutable append-only admin action logging and sha-256 integr
  apps/api/openapi/openapi.v1.json
  apps/api/src/app.ts
  apps/api/src/db/schema/audit/index.ts
  apps/api/src/modules/audit/__tests__/audit.service.test.ts
  apps/api/src/modules/audit/audit.hook.ts
  apps/api/src/modules/audit/audit.routes.ts
  apps/api/src/modules/audit/audit.service.ts
  apps/api/src/modules/audit/index.ts
  apps/api/src/shared/database/migrations/0023_audit_log.sql
  apps/api/src/shared/database/migrations/meta/_journal.json
  apps/api/src/shared/database/schema/index.ts
Due: eslint --fix, prettier --write

feat: implement admin ux foundation with light theme, sidebar navigation, and admin component librar
  apps/api/openapi/openapi.v1.json
  apps/api/src/modules/analytics/__tests__/player-profile.service.test.ts
  apps/web/src/__tests__/components/primitive-state-matrix.test.ts
  apps/web/src/lib/config/admin-nav.ts
  apps/web/src/lib/config/whitelabel.ts
  apps/web/src/lib/stores/breadcrumbs.ts
  apps/web/src/lib/stores/session.ts
  apps/web/src/lib/stores/settings.ts
  apps/web/src/lib/stores/theme.test.ts
  apps/web/src/lib/stores/theme.ts
  apps/web/src/lib/ui/components/AdminTable.svelte
  apps/web/src/lib/ui/components/Button.svelte
  apps/web/src/lib/ui/components/Panel.svelte
  apps/web/src/lib/ui/tokens/contract.ts
  apps/web/src/lib/ui/tokens/index.css
  apps/web/src/lib/ui/tokens/theme-contract.test.ts
  apps/web/src/lib/ui/tokens/validate.test.ts
  apps/web/src/routes/(admin)/+layout.svelte
  packages/shared/src/constants/taxonomy.test.ts
  packages/shared/src/constants/taxonomy.ts
  packages/shared/src/schemas/json-schemas.generated.ts
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat: implement basic admin dashboard with tenant info, active users, and metrics display
  apps/api/openapi/openapi.v1.json
  apps/api/src/app.ts
  apps/api/src/modules/admin/admin-dashboard.routes.ts
  apps/api/src/modules/admin/dashboard.service.ts
  apps/api/src/modules/admin/index.ts
  apps/api/src/modules/auth/auth.repo.ts
  apps/api/src/modules/auth/index.ts
  apps/web/src/lib/api/admin.test.ts
  apps/web/src/lib/api/admin.ts
  apps/web/src/routes/(admin)/admin/+page.svelte
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat: implement basic user management with crud, role assignment, and search
  apps/api/openapi/openapi.v1.json
  apps/api/src/app.ts
  apps/api/src/db/ownership/manifest.ts
  apps/api/src/modules/admin/__tests__/user.service.test.ts
  apps/api/src/modules/admin/admin-users.routes.ts
  apps/api/src/modules/admin/index.ts
  apps/api/src/modules/admin/user.service.ts
  apps/web/src/lib/api/index.ts
  apps/web/src/lib/api/users.ts
  apps/web/src/routes/(admin)/users/+page.svelte
  apps/web/src/routes/(admin)/users/[id]/+page.svelte
  apps/web/src/routes/(admin)/users/new/+page.svelte
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat: implement basic trainer dashboard with competency distribution, campaign completion, and commo
  apps/api/openapi/openapi.v1.json
  apps/api/src/app.ts
  apps/api/src/modules/admin/__tests__/trainer.service.test.ts
  apps/api/src/modules/admin/index.ts
  apps/api/src/modules/admin/trainer.routes.ts
  apps/api/src/modules/admin/trainer.service.ts
  apps/web/src/lib/api/admin.ts
  apps/web/src/routes/(admin)/trainer/+page.svelte
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat: implement certificate generation with completion certificates and regulatory framework referen
  apps/api/openapi/openapi.v1.json
  apps/api/package.json
  apps/api/src/app.ts
  apps/api/src/modules/admin/__tests__/certificate.service.test.ts
  apps/api/src/modules/admin/certificate.events.ts
  apps/api/src/modules/admin/certificate.routes.ts
  apps/api/src/modules/admin/certificate.service.ts
  apps/api/src/modules/admin/index.ts
  apps/api/src/shared/database/migrations/0024_training_certificates.sql
  apps/api/src/shared/database/migrations/meta/_journal.json
  apps/api/src/shared/database/schema/index.ts
  apps/api/src/shared/database/schema/tenant-policy.ts
  apps/api/src/shared/database/schema/training/certificates.schema.ts
  apps/api/src/shared/database/schema/training/index.ts
  packages/shared/src/constants/frameworks.ts
  packages/shared/src/constants/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: implement compliance snapshot store for framework completion status tracking per tenant
  apps/api/openapi/openapi.v1.json
  apps/api/src/app.ts
  apps/api/src/db/schema/compliance/index.ts
  apps/api/src/modules/admin/__tests__/compliance.service.test.ts
  apps/api/src/modules/admin/compliance.routes.ts
  apps/api/src/modules/admin/compliance.service.ts
  apps/api/src/modules/admin/index.ts
  apps/api/src/shared/database/migrations/0025_compliance_snapshots.sql
  apps/api/src/shared/database/migrations/meta/_journal.json
  apps/web/src/lib/api/admin.ts
  apps/web/src/routes/(admin)/compliance/+page.svelte
  apps/web/src/routes/(admin)/compliance/[frameworkId]/+page.svelte
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat: implement feature flags with server-evaluated, tenant-isolated, a/b testing capable flags
  apps/api/src/db/schema/feature-flags/index.ts
  apps/api/src/modules/feature-flags/__tests__/feature-flags.service.test.ts
  apps/api/src/modules/feature-flags/feature-flags.plugin.ts
  apps/api/src/modules/feature-flags/feature-flags.routes.ts
  apps/api/src/modules/feature-flags/feature-flags.service.ts
  apps/api/src/modules/feature-flags/index.ts
  apps/api/src/modules/manifest.ts
  apps/api/src/shared/database/migrations/0026_feature_flags.sql
  apps/api/src/shared/database/schema/index.ts
Due: eslint --fix, prettier --write

feat(api): implement saml 2.0 sso with okta, entra id, and ping identity support
  apps/api/openapi/openapi.v1.json
  apps/api/package.json
  apps/api/src/app.ts
  apps/api/src/db/schema/auth/sso-connections.ts
  apps/api/src/modules/admin/admin-saml.routes.ts
  apps/api/src/modules/admin/index.ts
  apps/api/src/modules/auth/__tests__/saml.test.ts
  apps/api/src/modules/auth/auth.sso.routes.ts
  apps/api/src/modules/auth/auth.sso.service.ts
  apps/api/src/shared/middleware/error-handler.ts
  apps/web/src/lib/api/admin.ts
  apps/web/src/lib/api/client.ts
  apps/web/src/lib/api/types.ts
  apps/web/src/lib/config/admin-nav.ts
  apps/web/src/routes/(admin)/saml/+page.svelte
  packages/shared/src/constants/error-codes.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat(api): implement oidc sso with authorization code + pkce, group-to-role mapping, and back-channe
  .secretlintignore
  .secretlintrc.json
  apps/api/openapi/openapi.v1.json
  apps/api/src/app.ts
  apps/api/src/db/ownership/manifest.ts
  apps/api/src/db/schema/auth/sso-connections.ts
  apps/api/src/modules/admin/admin-oidc.routes.ts
  apps/api/src/modules/admin/index.ts
  apps/api/src/modules/auth/__tests__/oidc.test.ts
  apps/api/src/modules/auth/__tests__/saml.test.ts
  apps/api/src/modules/auth/auth.sso.routes.ts
  apps/api/src/modules/auth/auth.sso.service.ts
  apps/api/src/shared/middleware/error-handler.ts
  packages/shared/src/constants/error-codes.ts
Due: eslint --fix, prettier --write

feat: enterprise sso implementation (saml 2.0 + oidc)
  apps/api/openapi/openapi.v1.json
  apps/api/src/modules/auth/__tests__/oidc.test.ts
  apps/api/src/modules/auth/auth.sso.routes.ts
  apps/api/src/modules/auth/auth.sso.service.ts
Due: eslint --fix, prettier --write

feat: scim 2.0 user and group provisioning
  apps/api/openapi/openapi.v1.json
  apps/api/src/app.ts
  apps/api/src/db/schema/auth/index.ts
  apps/api/src/db/schema/auth/scim.ts
  apps/api/src/modules/admin/admin-scim.routes.ts
  apps/api/src/modules/admin/index.ts
  apps/api/src/modules/scim/scim.service.ts
  apps/api/src/modules/scim/scim.types.ts
  apps/api/src/shared/database/migrations/0027_scim_provisioning.sql
  apps/api/src/shared/database/migrations/meta/_journal.json
  apps/api/src/shared/database/schema/tenant-policy.ts
  apps/api/src/shared/database/schema/users.ts
  apps/web/src/lib/api/admin.ts
  apps/web/src/routes/(admin)/scim/+page.svelte
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat: implement jit user provisioning
  apps/api/src/db/schema/auth/admin-notifications.ts
  apps/api/src/db/schema/auth/index.ts
  apps/api/src/modules/admin/user.service.ts
  apps/api/src/modules/auth/__tests__/saml.test.ts
  apps/api/src/modules/auth/auth.sso.routes.ts
  apps/api/src/modules/auth/auth.sso.service.ts
  apps/api/src/shared/database/migrations/0028_jit_provisioning.sql
  apps/api/src/shared/database/migrations/meta/_journal.json
  apps/api/src/shared/database/schema/users.ts
  apps/web/src/lib/api/users.ts
  apps/web/src/routes/(admin)/users/+page.svelte
  packages/shared/src/auth/sso-contract.ts
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat: campaign management v1 - audience selection, scheduling, and training content assignment
  apps/api/openapi/openapi.v1.json
  apps/api/src/app.ts
  apps/api/src/modules/admin/__tests__/campaign.service.test.ts
  apps/api/src/modules/admin/campaign.routes.ts
  apps/api/src/modules/admin/campaign.service.ts
  apps/api/src/modules/admin/index.ts
  apps/api/src/shared/database/migrations/0029_campaign_management.sql
  apps/api/src/shared/database/migrations/meta/_journal.json
  apps/api/src/shared/database/schema/training/campaign.schema.ts
  apps/api/src/shared/database/schema/training/index.ts
Due: eslint --fix, prettier --write

feat(web): enterprise onboarding wizard - guided org profile, idp config, scim token, and compliance
  apps/api/openapi/openapi.v1.json
  apps/api/src/app.ts
  apps/api/src/modules/admin/__tests__/onboarding.service.test.ts
  apps/api/src/modules/admin/index.ts
  apps/api/src/modules/admin/onboarding.routes.ts
  apps/api/src/modules/admin/onboarding.service.ts
  apps/api/src/shared/database/migrations/0030_enterprise_onboarding.sql
  apps/api/src/shared/database/migrations/meta/_journal.json
  apps/api/src/shared/database/schema/tenants.ts
  apps/web/src/lib/api/onboarding.ts
  apps/web/src/routes/(admin)/onboarding/+page.svelte
  packages/shared/src/schemas/index.ts
  packages/shared/src/schemas/onboarding.schema.ts
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat(api): phishing simulation v1
  apps/api/openapi/openapi.v1.json
  apps/api/src/app.ts
  apps/api/src/modules/admin/__tests__/phishing-simulation.service.test.ts
  apps/api/src/modules/admin/index.ts
  apps/api/src/modules/admin/phishing-simulation.routes.ts
  apps/api/src/modules/admin/phishing-simulation.service.ts
  apps/api/src/shared/database/migrations/0031_phishing_simulation_engine.sql
  apps/api/src/shared/database/migrations/meta/_journal.json
  apps/api/src/shared/database/schema/tenant-policy.ts
  apps/api/src/shared/database/schema/training/index.ts
  apps/api/src/shared/database/schema/training/phishing.schema.ts
Due: eslint --fix, prettier --write

feat: email sending infrastructure v1 - spf/dkim/dmarc alignment and automated ip warm-up
  apps/api/src/modules/email/__tests__/delivery.test.ts
  apps/api/src/modules/email/__tests__/quota.test.ts
  apps/api/src/modules/email/__tests__/template.test.ts
  apps/api/src/modules/email/__tests__/warmup.test.ts
  apps/api/src/modules/email/delivery.service.ts
  apps/api/src/modules/email/index.ts
  apps/api/src/modules/email/quota.service.ts
  apps/api/src/modules/email/template.service.ts
  apps/api/src/modules/email/warmup.service.ts
  apps/api/src/modules/email/warmup.types.ts
Due: eslint --fix, prettier --write

feat: scorm 1.2/2004 export - adl-compliant lms integration
  apps/api/src/db/schema/lrs/index.ts
  apps/api/src/modules/manifest.ts
  apps/api/src/modules/scorm/__tests__/scorm.service.test.ts
  apps/api/src/modules/scorm/index.ts
  apps/api/src/modules/scorm/scorm.routes.ts
  apps/api/src/modules/scorm/scorm.schemas.ts
  apps/api/src/modules/scorm/scorm.service.ts
Due: eslint --fix, prettier --write

feat: xapi statement emission - v1.0.3 and 2.0 with custom verb vocabulary
  apps/api/openapi/openapi.v1.json
  apps/api/src/app.ts
  apps/api/src/db/schema/lrs/index.ts
  apps/api/src/modules/manifest.ts
  apps/api/src/modules/xapi/__tests__/xapi.service.test.ts
  apps/api/src/modules/xapi/index.ts
  apps/api/src/modules/xapi/xapi.routes.ts
  apps/api/src/modules/xapi/xapi.service.ts
  packages/shared/src/env.ts
Due: eslint --fix, prettier --write

feat: lti 1.3 with advantage - deep linking, assignment & grade services
  apps/api/openapi/openapi.v1.json
  apps/api/src/app.ts
  apps/api/src/db/schema/lti/index.ts
  apps/api/src/modules/lti/admin-lti.routes.ts
  apps/api/src/modules/lti/index.ts
  apps/api/src/modules/lti/lti.plugin.ts
  apps/api/src/modules/lti/lti.routes.ts
  apps/api/src/modules/lti/lti.service.ts
  apps/api/src/modules/lti/lti.types.ts
  apps/api/src/shared/database/migrations/0032_lti_platforms.sql
  apps/api/src/shared/database/migrations/0033_lti_states.sql
  apps/api/src/shared/database/migrations/meta/_journal.json
Due: eslint --fix, prettier --write

feat: webhook system - hmac-signed delivery, tenant metadata, retry with backoff
  apps/api/openapi/openapi.v1.json
  apps/api/src/app.ts
  apps/api/src/db/schema/webhooks.ts
  apps/api/src/modules/webhooks/__tests__/webhook.service.test.ts
  apps/api/src/modules/webhooks/webhook.plugin.ts
  apps/api/src/modules/webhooks/webhook.routes.ts
  apps/api/src/modules/webhooks/webhook.service.ts
  packages/shared/src/contracts/index.ts
  packages/shared/src/contracts/webhook-policy.ts
Due: eslint --fix, prettier --write

feat: api keys and service accounts - scoped keys for service-to-service integration
  apps/api/drizzle.config.ts
  apps/api/openapi/openapi.v1.json
  apps/api/src/db/schema/auth/api-keys.ts
  apps/api/src/db/schema/auth/service-account-roles.ts
  apps/api/src/db/schema/auth/service-accounts.ts
  apps/api/src/modules/auth/__tests__/service-account.service.test.ts
  apps/api/src/modules/auth/api-key.service.ts
  apps/api/src/modules/auth/service-account.routes.ts
  apps/api/src/modules/auth/service-account.service.ts
  apps/api/src/shared/database/migrations/0034_service_accounts.sql
  apps/api/src/shared/database/migrations/meta/_journal.json
  apps/api/src/shared/middleware/__tests__/ip-allowlist.test.ts
  apps/api/src/shared/middleware/api-key-auth.ts
  apps/api/src/shared/middleware/rate-limiter.ts
  packages/shared/src/auth/api-key-contract.ts
  packages/shared/src/schemas/json-schemas.generated.ts
Due: eslint --fix, prettier --write

feat: billing & entitlements v1 - seat counting and plan-based feature gates
  apps/api/src/db/schema/billing/index.ts
  apps/api/src/modules/billing/__tests__/entitlements.service.test.ts
  apps/api/src/modules/billing/__tests__/seat.service.test.ts
  apps/api/src/modules/billing/__tests__/subscription.service.test.ts
  apps/api/src/modules/billing/billing.plugin.ts
  apps/api/src/modules/billing/billing.repo.ts
  apps/api/src/modules/billing/billing.routes.ts
  apps/api/src/modules/billing/billing.types.ts
  apps/api/src/modules/billing/entitlements.service.ts
  apps/api/src/modules/billing/index.ts
  apps/api/src/modules/billing/seat.service.ts
  apps/api/src/modules/billing/stripe-webhook.routes.ts
  apps/api/src/modules/billing/stripe.service.ts
  apps/api/src/modules/billing/subscription.service.ts
  apps/api/src/modules/manifest.ts
  apps/api/src/modules/webhooks/workers/index.ts
  apps/api/src/modules/webhooks/workers/webhook-queue.ts
  apps/api/src/shared/database/schema/index.ts
Due: eslint --fix, prettier --write

feat(api): enhanced audit log with sha-256 chained hashing and integrity verification
  apps/api/openapi/openapi.v1.json
  apps/api/src/db/schema/audit/index.ts
  apps/api/src/modules/audit/__tests__/audit.service.test.ts
  apps/api/src/modules/audit/audit.hook.ts
  apps/api/src/modules/audit/audit.routes.ts
  apps/api/src/modules/audit/audit.service.ts
  apps/api/src/shared/database/migrations/0035_audit_log_enhanced.sql
  apps/api/src/shared/database/migrations/meta/_journal.json
Due: eslint --fix, prettier --write

feat: data retention engine v1 - configurable per-tenant retention policies
  apps/api/src/db/schema/retention/index.ts
  apps/api/src/modules/auth/auth.repo.ts
  apps/api/src/modules/auth/index.ts
  apps/api/src/modules/manifest.ts
  apps/api/src/modules/retention/__tests__/anonymization.service.test.ts
  apps/api/src/modules/retention/__tests__/archive.service.test.ts
  apps/api/src/modules/retention/__tests__/retention.service.test.ts
  apps/api/src/modules/retention/anonymization.service.ts
  apps/api/src/modules/retention/archive.service.ts
  apps/api/src/modules/retention/index.ts
  apps/api/src/modules/retention/retention.plugin.ts
  apps/api/src/modules/retention/retention.routes.ts
  apps/api/src/modules/retention/retention.service.ts
  apps/api/src/modules/retention/retention.types.ts
  apps/api/src/modules/retention/workers/index.ts
  apps/api/src/modules/retention/workers/queues.ts
  apps/api/src/modules/retention/workers/retention.worker.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.{ts,tsx,js,jsx}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.css)
  prettier --write --plugin prettier-plugin-svelte: any of: *.svelte
