Repository TheMorpheus407/the-dmz: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

test(api): enforce slack integration notification and block kit contract parity
  packages/shared/src/contracts/index.ts
  packages/shared/src/contracts/slack-contract.test.ts
  packages/shared/src/contracts/slack-contract.ts
Due: eslint --fix, prettier --write

test(api): enforce microsoft power automate custom-connector contract parity
  packages/shared/package.json
  packages/shared/src/contracts/index.ts
  packages/shared/src/contracts/power-automate-contract.test.ts
  packages/shared/src/contracts/power-automate-contract.ts
Due: eslint --fix, prettier --write

test(api): enforce automation-platform connector and dmz-cli contract parity
  packages/shared/package.json
  packages/shared/src/auth/oauth-scope-contract.ts
  packages/shared/src/contracts/dmz-cli-contract.test.ts
  packages/shared/src/contracts/dmz-cli-contract.ts
  packages/shared/src/contracts/index.ts
  packages/shared/src/contracts/make-com-contract.test.ts
  packages/shared/src/contracts/make-com-contract.ts
  packages/shared/src/contracts/n8n-contract.test.ts
  packages/shared/src/contracts/n8n-contract.ts
  packages/shared/src/contracts/tray-io-contract.test.ts
  packages/shared/src/contracts/tray-io-contract.ts
  packages/shared/src/contracts/workato-contract.test.ts
  packages/shared/src/contracts/workato-contract.ts
Due: eslint --fix, prettier --write

test(api): enforce enterprise email-sending integration and authentication contract parity
  apps/api/openapi/openapi.v1.json
  apps/api/src/app.ts
  apps/api/src/modules/email/email.errors.ts
  apps/api/src/modules/email/email.plugin.ts
  apps/api/src/modules/email/email.repo.ts
  apps/api/src/modules/email/email.routes.ts
  apps/api/src/modules/email/email.service.ts
  apps/api/src/modules/email/email.types.ts
  apps/api/src/modules/email/index.ts
  apps/api/src/modules/manifest.ts
  apps/api/src/shared/middleware/error-handler.ts
  packages/shared/scripts/generate-json-schemas.ts
  packages/shared/src/constants/error-codes.ts
  packages/shared/src/contracts/__tests__/gateway-contracts.test.ts
  packages/shared/src/contracts/defender-contract.ts
  packages/shared/src/contracts/index.ts
  packages/shared/src/contracts/mimecast-contract.ts
  packages/shared/src/contracts/proofpoint-contract.ts
  packages/shared/src/schemas/email.schema.test.ts
  packages/shared/src/schemas/email.schema.ts
  packages/shared/src/schemas/index.ts
  packages/shared/src/schemas/json-schemas.generated.ts
Due: eslint --fix, prettier --write

test(api): enforce backend named-export and public-module-surface contracts
  apps/api/package.json
  apps/api/src/modules/auth/api-key.routes.ts
  apps/api/src/modules/auth/auth.plugin.ts
  docs/M1_BACKEND_CONTRACT.md
  scripts/check-backend-exports.mjs
Due: eslint --fix, prettier --write

feat: login failure event logs wrong tenant id
  apps/api/src/modules/auth/__tests__/auth.events.test.ts
  apps/api/src/modules/auth/auth.routes.ts
Due: eslint --fix, prettier --write

feat: csrf token parsing fails when token contains equals sign
  apps/web/src/lib/stores/session.test.ts
  apps/web/src/lib/stores/session.ts
Due: eslint --fix, prettier --write

feat: mfa webauthn challenge store uses in-memory map causing failures in multi-instance deployments
  apps/api/src/modules/auth/__tests__/mfa-challenge-store.test.ts
  apps/api/src/modules/auth/mfa.service.ts
Due: eslint --fix, prettier --write

feat: tenant_fallback_enabled configuration incorrectly ignores explicit false in test environment
  packages/shared/src/env.test.ts
  packages/shared/src/env.ts
Due: eslint --fix, prettier --write

feat: permission cache uses in-memory map causing stale permissions in multi-instance deployments
  apps/api/src/modules/auth/__tests__/authorization.test.ts
  apps/api/src/shared/middleware/authorization.ts
Due: eslint --fix, prettier --write

feat: rate limiter in-memory fallback causes inconsistent rate limits in multi-instance deployments
  apps/api/src/shared/middleware/__tests__/rate-limiter.test.ts
  apps/api/src/shared/middleware/rate-limiter.ts
  docs/backend/rate-limit-policy.md
  packages/shared/src/env.ts
Due: eslint --fix, prettier --write

feat: permission query fetches all permissions instead of filtering by user permission ids
  apps/api/src/shared/middleware/authorization.ts
Due: eslint --fix, prettier --write

feat: implement game engine module with session lifecycle and day cycle state machine
  MEMORY.md
  apps/api/src/modules/game/engine/__tests__/reducer.test.ts
  apps/api/src/modules/game/engine/__tests__/state-machine.test.ts
  apps/api/src/modules/game/engine/engine.events.ts
  apps/api/src/modules/game/engine/engine.service.ts
  apps/api/src/modules/game/engine/index.ts
  apps/api/src/modules/game/engine/reducer.ts
  apps/api/src/modules/game/engine/state-machine.ts
  apps/api/src/shared/middleware/error-handler.ts
  packages/shared/src/constants/error-codes.ts
  packages/shared/src/schemas/game-engine.schema.ts
  packages/shared/src/schemas/index.ts
  packages/shared/src/types/game-engine.ts
  packages/shared/src/types/game-state.ts
  packages/shared/src/types/index.ts
Due: eslint --fix, prettier --write

feat: implement event sourcing system with immutable game.events table and snapshots
  apps/api/src/db/schema/game/events.schema.ts
  apps/api/src/db/schema/game/index.ts
  apps/api/src/db/schema/game/snapshots.schema.ts
  apps/api/src/modules/game/event-store/__tests__/event-replay.test.ts
  apps/api/src/modules/game/event-store/event-store.repo.ts
  apps/api/src/modules/game/event-store/event-store.service.ts
  apps/api/src/modules/game/event-store/index.ts
  apps/api/src/shared/database/migrations/0010_game_events.sql
  packages/shared/src/game/__tests__/event-store.test.ts
  packages/shared/src/game/__tests__/event-types.test.ts
  packages/shared/src/game/event-store.ts
  packages/shared/src/game/event-store.types.ts
  packages/shared/src/game/event-types.ts
  packages/shared/src/game/index.ts
  packages/shared/src/index.ts
Due: eslint --fix, prettier --write

feat: implement deterministic rng system for email selection and attack outcomes
  apps/api/src/db/schema/game/game-sessions.ts
  apps/api/src/modules/game/session/game-session.repo.ts
  apps/api/src/modules/game/session/game-session.service.ts
  apps/api/src/modules/routes/schema-ownership-manifest.ts
  apps/api/src/shared/database/migrations/0011_game_sessions_seed.sql
  packages/shared/package.json
  packages/shared/src/game/__tests__/rng.test.ts
  packages/shared/src/game/index.ts
  packages/shared/src/game/rng.ts
Due: eslint --fix, prettier --write

feat(api): implement email and decision system with indicators and action resolution
  apps/api/src/modules/game/email-instance/__tests__/decision-resolution.test.ts
  apps/api/src/modules/game/email-instance/decision-resolution.service.ts
  apps/api/src/modules/game/email-instance/email-instance.service.ts
  apps/api/src/modules/game/email-instance/index.ts
  apps/api/src/modules/game/engine/__tests__/reducer.test.ts
  apps/api/src/modules/game/engine/reducer.ts
  packages/shared/src/game/email-instance.ts
  packages/shared/src/game/index.ts
  packages/shared/src/game/indicator-catalog.ts
  packages/shared/src/types/game-engine.ts
  packages/shared/src/types/game-state.ts
Due: eslint --fix, prettier --write

feat: implement verification packet system for cross-referencing email claims
  apps/api/src/modules/game/email-instance/__tests__/verification-packet.test.ts
  apps/api/src/modules/game/email-instance/verification-packet.service.ts
  apps/api/src/modules/game/engine/__tests__/reducer.test.ts
  apps/api/src/modules/game/engine/reducer.ts
  packages/shared/src/game/__tests__/event-types.test.ts
  packages/shared/src/game/email-instance.ts
  packages/shared/src/game/event-types.ts
  packages/shared/src/types/game-engine.ts
  packages/shared/src/types/game-state.ts
Due: eslint --fix, prettier --write

feat: implement facility module with 4 resource systems
  apps/api/src/db/schema/game/facility/clients.ts
  apps/api/src/db/schema/game/facility/index.ts
  apps/api/src/db/schema/game/facility/states.ts
  apps/api/src/db/schema/game/facility/upgrades.ts
  apps/api/src/db/schema/game/index.ts
  apps/api/src/modules/game/email-instance/__tests__/verification-packet.test.ts
  apps/api/src/modules/game/engine/__tests__/reducer.test.ts
  apps/api/src/modules/game/engine/reducer.ts
  packages/shared/src/game/__tests__/event-types.test.ts
  packages/shared/src/game/event-types.ts
  packages/shared/src/types/game-engine.ts
  packages/shared/src/types/game-state.ts
Due: eslint --fix, prettier --write

feat: implement threat engine v1 with attack generation and threat tiers
  apps/api/src/modules/game/email-instance/__tests__/verification-packet.test.ts
  apps/api/src/modules/game/engine/__tests__/reducer.test.ts
  apps/api/src/modules/game/engine/reducer.ts
  apps/api/src/modules/game/threat-engine/__tests__/threat-engine.test.ts
  apps/api/src/modules/game/threat-engine/index.ts
  apps/api/src/modules/game/threat-engine/threat-engine.service.ts
  packages/shared/src/game/index.ts
  packages/shared/src/game/threat-catalog.ts
  packages/shared/src/types/game-state.ts
Due: eslint --fix, prettier --write

feat: implement consequence engine with trust score, funds, and faction relations
  apps/api/src/game/consequence/__tests__/backlog.test.ts
  apps/api/src/game/consequence/__tests__/consequence-engine.test.ts
  apps/api/src/game/consequence/__tests__/faction-relations.test.ts
  apps/api/src/game/consequence/__tests__/funds.test.ts
  apps/api/src/game/consequence/__tests__/trust-score.test.ts
  apps/api/src/game/consequence/backlog.ts
  apps/api/src/game/consequence/consequence-engine.ts
  apps/api/src/game/consequence/faction-relations.ts
  apps/api/src/game/consequence/funds.ts
  apps/api/src/game/consequence/index.ts
  apps/api/src/game/consequence/trust-score.ts
  apps/api/src/game/consequence/types.ts
  packages/shared/src/game/event-types.ts
Due: eslint --fix, prettier --write

feat: implement upgrade system with security tools and facility upgrades
  apps/api/src/modules/game/email-instance/__tests__/verification-packet.test.ts
  apps/api/src/modules/game/engine/__tests__/reducer.test.ts
  apps/api/src/modules/game/engine/reducer.ts
  apps/api/src/modules/game/threat-engine/__tests__/threat-engine.test.ts
  apps/api/src/modules/game/threat-engine/threat-engine.service.ts
  packages/shared/src/game/__tests__/event-types.test.ts
  packages/shared/src/types/game-state.ts
Due: eslint --fix, prettier --write

feat: implement economy domain v1 with credits, trust score, and intel fragments
  apps/api/src/db/schema/game/economy.schema.ts
  apps/api/src/db/schema/game/game-sessions.ts
  apps/api/src/db/schema/game/index.ts
  apps/api/src/game/consequence/__tests__/level-progression.test.ts
  apps/api/src/game/consequence/index.ts
  apps/api/src/game/consequence/level-progression.ts
  apps/api/src/game/consequence/types.ts
  apps/api/src/modules/game/email-instance/__tests__/verification-packet.test.ts
  apps/api/src/modules/game/engine/__tests__/reducer.test.ts
  apps/api/src/modules/game/engine/engine.events.ts
  apps/api/src/modules/game/engine/reducer.ts
  apps/api/src/modules/game/threat-engine/__tests__/threat-engine.test.ts
  apps/api/src/shared/database/migrations/0012_economy_domain.sql
Due: eslint --fix, prettier --write

feat(api): implement incident response system with detection, containment, and recovery
  apps/api/openapi/openapi.v1.json
  apps/api/src/db/schema/game/incidents.schema.ts
  apps/api/src/db/schema/game/index.ts
  apps/api/src/modules/game/game.plugin.ts
  apps/api/src/modules/game/incident/__tests__/incident.service.test.ts
  apps/api/src/modules/game/incident/incident.events.ts
  apps/api/src/modules/game/incident/incident.repo.ts
  apps/api/src/modules/game/incident/incident.routes.ts
  apps/api/src/modules/game/incident/incident.service.ts
  apps/api/src/modules/game/incident/index.ts
  packages/shared/src/game/__tests__/event-types.test.ts
  packages/shared/src/game/event-types.ts
  packages/shared/src/game/incident.ts
  packages/shared/src/game/index.ts
Due: eslint --fix, prettier --write

feat: implement breach and recovery system with ransom mechanic and game over state
  apps/api/src/modules/game/breach/__tests__/breach.service.test.ts
  apps/api/src/modules/game/breach/breach.service.ts
  apps/api/src/modules/game/breach/index.ts
  apps/api/src/modules/game/email-instance/__tests__/verification-packet.test.ts
  apps/api/src/modules/game/engine/__tests__/reducer.test.ts
  apps/api/src/modules/game/engine/reducer.ts
  apps/api/src/modules/game/threat-engine/__tests__/threat-engine.test.ts
  apps/web/src/lib/admin/index.ts
  apps/web/src/lib/admin/services/test.ts
  packages/shared/src/game/__tests__/event-types.test.ts
  packages/shared/src/game/breach.ts
  packages/shared/src/game/event-types.ts
  packages/shared/src/game/index.ts
  packages/shared/src/types/game-engine.ts
  packages/shared/src/types/game-state.ts
Due: eslint --fix, prettier --write

feat(web): implement main terminal layout with 3-panel css grid
  apps/web/src/routes/(game)/+layout.svelte
Due: eslint --fix, prettier --write --plugin prettier-plugin-svelte

feat(web): implement inboxlist component with urgency indicators
  apps/web/src/lib/game/components/InboxList.svelte
  apps/web/src/lib/game/components/inbox.test.ts
  apps/web/src/lib/game/components/inbox.ts
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat: implement emailviewer component with header inspection
  apps/web/src/lib/admin/index.ts
  apps/web/src/lib/admin/services/test.ts
  apps/web/src/lib/game/components/EmailViewer.svelte
  apps/web/src/lib/game/components/email-viewer.test.ts
  apps/web/src/lib/game/components/email-viewer.ts
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat: implement phishing analysis worksheet component
  apps/web/src/lib/game/components/PhishingAnalysisWorksheet.svelte
  apps/web/src/lib/game/components/phishing-worksheet.test.ts
  apps/web/src/lib/game/components/phishing-worksheet.ts
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat: implement verification packet viewer component
  apps/web/src/lib/game/components/VerificationPacketViewer.svelte
  apps/web/src/lib/game/components/verification-packet.test.ts
  apps/web/src/lib/game/components/verification-packet.ts
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat: implement facility dashboard component
  apps/web/src/lib/game/components/ClientList.svelte
  apps/web/src/lib/game/components/DashboardHeader.svelte
  apps/web/src/lib/game/components/FacilityDashboard.svelte
  apps/web/src/lib/game/components/FinancialSummary.svelte
  apps/web/src/lib/game/components/QuickActions.svelte
  apps/web/src/lib/game/components/ResourceMeter.svelte
  apps/web/src/lib/game/components/facility-dashboard.test.ts
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat: implement day summary panel component
  apps/web/src/lib/game/components/DaySummaryPanel.svelte
  apps/web/src/lib/game/components/day-summary.test.ts
  apps/web/src/lib/game/components/day-summary.ts
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat: implement state management with 3-layer architecture
  apps/web/src/lib/game/index.ts
  apps/web/src/lib/game/state/events.ts
  apps/web/src/lib/game/store/ephemeral-state.svelte.ts
  apps/web/src/lib/game/store/game-store.test.ts
  apps/web/src/lib/game/store/game-store.ts
  apps/web/src/lib/game/store/index.ts
  apps/web/src/lib/game/store/ui-store.test.ts
  apps/web/src/lib/game/store/ui-store.ts
Due: eslint --fix, prettier --write

feat: implement phase-driven rendering for game state machine
  apps/web/src/lib/game/components/GameOverPanel.svelte
  apps/web/src/lib/game/components/KeyboardShortcutHandler.svelte
  apps/web/src/lib/game/components/PhaseActionButton.svelte
  apps/web/src/lib/game/components/PhaseRenderer.svelte
  apps/web/src/lib/game/state/phase-config.test.ts
  apps/web/src/lib/game/state/phase-config.ts
  apps/web/src/lib/game/state/state-machine.ts
  apps/web/src/lib/game/store/ui-store.test.ts
  apps/web/src/lib/game/store/ui-store.ts
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat: implement keyboard shortcuts for core game actions
  apps/web/src/lib/game/components/HelpOverlay.svelte
  apps/web/src/lib/game/components/KeyboardShortcutHandler.svelte
  apps/web/src/lib/game/components/ThunkFeedback.svelte
  apps/web/src/lib/game/state/phase-config.test.ts
  apps/web/src/lib/game/state/phase-config.ts
  apps/web/src/routes/(game)/+layout.svelte
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat: implement resourcemeter components
  apps/web/src/lib/game/components/ResourceMeter.svelte
  apps/web/src/lib/game/components/facility-dashboard.test.ts
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat: implement threatindicator display component
  apps/web/src/lib/game/components/FacilityDashboard.svelte
  apps/web/src/lib/game/components/ThreatIndicator.svelte
  apps/web/src/lib/game/components/threat-indicator.test.ts
  apps/web/src/routes/(game)/+layout.svelte
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat: implement notificationtoast system
  apps/web/src/lib/game/store/ui-store.test.ts
  apps/web/src/lib/game/store/ui-store.ts
  apps/web/src/lib/ui/components/NotificationToast.svelte
  apps/web/src/lib/ui/components/ToastContainer.svelte
  apps/web/src/routes/(game)/+layout.svelte
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat: implement content module foundation with schema and storage
  apps/api/src/app.ts
  apps/api/src/db/schema/content/email-templates.schema.ts
  apps/api/src/db/schema/content/index.ts
  apps/api/src/modules/content/__tests__/content.schemas.test.ts
  apps/api/src/modules/content/content.plugin.ts
  apps/api/src/modules/content/content.repo.ts
  apps/api/src/modules/content/content.routes.ts
  apps/api/src/modules/content/content.service.ts
  apps/api/src/modules/content/index.ts
  apps/api/src/modules/routes/schema-ownership-manifest.ts
  apps/api/src/shared/database/migrations/0013_content_module.sql
  apps/api/src/shared/database/schema/index.ts
  packages/shared/src/schemas/content.schema.ts
  packages/shared/src/schemas/index.ts
Due: eslint --fix, prettier --write

feat: create 50 handcrafted email scenarios for offline play
  apps/api/src/modules/content/__tests__/email-templates.test.ts
  apps/api/src/shared/database/seed-email-templates.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.{ts,tsx,js,jsx}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.css)
  prettier --write --plugin prettier-plugin-svelte: any of: *.svelte
