Repository TheMorpheus407/the-dmz: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.svelte": ["eslint --fix", "prettier --write --plugin prettier-plugin-svelte"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.css": ["prettier --write"]
}

feat(api): [low] anonymizationservice.removerule returns boolean without proper prefix
  apps/api/src/modules/retention/__tests__/anonymization.service.test.ts
  apps/api/src/modules/retention/anonymization.service.ts
Due: eslint --fix, prettier --write

feat: [medium] rate limiter redis strict mode error path untested
  apps/api/src/shared/middleware/__tests__/rate-limiter-strict-mode.test.ts
  apps/api/src/shared/middleware/rate-limiter.ts
Due: eslint --fix, prettier --write

fix: [critical] chat.service.test.ts tests local helpers, not actual chatservice
  apps/api/src/modules/chat/__tests__/chat.service.test.ts
  apps/api/src/modules/chat/__tests__/chat.service.unit.test.ts
Due: eslint --fix, prettier --write

feat(api): [high] authenticateduser interface duplicated in 21 route files instead of shared imp
  apps/api/src/modules/chat/chat.routes.ts
  apps/api/src/modules/feature-flags/feature-flags.routes.ts
  apps/api/src/modules/lti/admin-lti.routes.ts
  apps/api/src/modules/multiplayer/coop-session.routes.ts
  apps/api/src/modules/multiplayer/party.routes.ts
  apps/api/src/modules/settings/settings.routes.ts
  apps/api/src/modules/social/block.routes.ts
  apps/api/src/modules/social/consent.routes.ts
  apps/api/src/modules/social/consumer-leaderboard.routes.ts
  apps/api/src/modules/social/content-review.routes.ts
  apps/api/src/modules/social/endorsement.routes.ts
  apps/api/src/modules/social/enterprise-leaderboard.routes.ts
  apps/api/src/modules/social/friend.routes.ts
  apps/api/src/modules/social/mute.routes.ts
  apps/api/src/modules/social/player-actions.routes.ts
  apps/api/src/modules/social/player-profiles.routes.ts
  apps/api/src/modules/social/presence.routes.ts
  apps/api/src/modules/social/privacy.routes.ts
  apps/api/src/modules/social/quick-signals.routes.ts
  apps/api/src/modules/social/reputation.routes.ts
  apps/api/src/modules/social/social-relationship.routes.ts
  eslint.config.mjs
Due: eslint --fix, prettier --write

feat: [medium] email delivery service has 17 untested functions
  apps/api/src/modules/email/__tests__/delivery.test.ts
Due: eslint --fix, prettier --write

feat: [medium] mfa.test.ts contains hardcoded database urls with credentials
  apps/api/src/modules/auth/__tests__/mfa.test.ts
Due: eslint --fix, prettier --write

feat: [high] all totp error paths completely untested (12+ errors)
  apps/api/src/modules/auth/__tests__/totp-errors.test.ts
Due: eslint --fix, prettier --write

feat: [medium] user.service.test.ts repeats tenant/user creation 10+ times inline
  apps/api/src/modules/admin/__tests__/user.service.fixtures.test.ts
  apps/api/src/modules/admin/__tests__/user.service.fixtures.ts
  apps/api/src/modules/admin/__tests__/user.service.test.ts
Due: eslint --fix, prettier --write

feat: [high] social moderation enforcement has 3 untested player restriction functions
  apps/api/src/modules/social/__tests__/moderation-enforcement.service.test.ts
Due: eslint --fix, prettier --write

feat(api): [low] abbreviated variable name msg used instead of message in narrative.repo.ts
  apps/api/src/modules/narrative/narrative.repo.ts
Due: eslint --fix, prettier --write

feat: [medium] analytics.routes.security.test.ts has copy-pasted security tests for 6+ endpoints
  apps/api/src/modules/analytics/__tests__/analytics.routes.security.test.ts
Due: eslint --fix, prettier --write

feat: [medium] incident_not_found error code not in errorcodeenum
  apps/api/src/modules/game/incident/__tests__/incident.routes.error-codes.test.ts
  apps/api/src/modules/game/incident/incident.routes.ts
  apps/api/src/shared/schemas/error-schemas.ts
Due: eslint --fix, prettier --write

feat: [medium] incident module has 5 untested security incident functions
  packages/shared/src/game/__tests__/incident.test.ts
  packages/shared/src/game/incident.ts
Due: eslint --fix, prettier --write

feat(api): [low] vague variable name evaluation in resolveandapplydecision function
  apps/api/src/modules/game/engine/handlers/email-handlers.ts
Due: eslint --fix, prettier --write

feat: [medium] eslint reportunuseddisabledirectives set to warning instead of error
  eslint.config.mjs
Due: none

feat: [high] test factories exist but admin service tests use inline creation instead
  apps/api/src/__tests__/helpers/fixtures.ts
  apps/api/src/modules/admin/__tests__/compliance.service.test.ts
  apps/api/src/modules/admin/__tests__/role-assignment.service.test.ts
  apps/api/src/modules/admin/__tests__/tenant-provisioning.service.test.ts
  apps/api/src/modules/admin/__tests__/trainer.service.test.ts
Due: eslint --fix, prettier --write

feat: [medium] duplicate exponential_backoff_delays and retry_strategy in two queue modules
  apps/api/src/modules/ai/workers/queues.ts
  apps/api/src/modules/retention/workers/queues.ts
  apps/api/src/shared/queue/__tests__/retry.test.ts
  apps/api/src/shared/queue/retry.ts
Due: eslint --fix, prettier --write

feat: [critical] email status values are completely different between email_status and emailstatussc
  packages/shared/src/game/__tests__/email-status-consolidation.test.ts
  packages/shared/src/game/email-instance.ts
  packages/shared/src/schemas/game-engine.schema.test.ts
  packages/shared/src/schemas/game-engine.schema.ts
  packages/shared/src/types/game-state.ts
Due: eslint --fix, prettier --write

feat(web): [high] svelte 5 and sveltekit 2 significantly outdated: 50+ minor versions behind
  apps/web/package.json
Due: prettier --write

feat(backend): [high] stripe sdk 5 major versions behind: v16 vs v21
  apps/api/package.json
Due: prettier --write

feat(api): [medium] bullmq queue library 60 minor versions behind current release
  apps/api/package.json
Due: prettier --write

feat: [medium] logger.test.ts only tests function exports, not actual logging behavior
  apps/web/src/lib/logger.test.ts
  apps/web/src/lib/logger.ts
Due: eslint --fix, prettier --write

feat: [medium] pwa.test.ts only tests function exports, not actual pwa behavior
  apps/web/src/lib/pwa/index.ts
  apps/web/src/lib/pwa/pwa.test.ts
Due: eslint --fix, prettier --write

feat: [medium] storage.test.ts only tests function exports, not actual storage behavior
  apps/web/src/lib/storage/event-queue.ts
  apps/web/src/lib/storage/session.ts
  apps/web/src/lib/storage/storage.test.ts
Due: eslint --fix, prettier --write

feat: [medium] desktop.test.ts primarily tests function exports, not actual desktop integration
  apps/desktop/desktop.behavioral.test.ts
Due: eslint --fix, prettier --write

feat(api): [medium] drizzle orm 12 minor versions behind: v0.33 vs v0.45
  apps/api/package.json
Due: prettier --write

feat(api): [low] ioredis 6 minor versions behind: v5.4 vs v5.10
  apps/api/package.json
Due: prettier --write

ci(infra): [medium] docker monitoring stack using outdated images: prometheus, grafana, alertmanager
  docker-compose.yml
Due: prettier --write

feat: [medium] multiple plugins subscribe to event bus without lifecycle cleanup
  apps/api/src/app.ts
  apps/api/src/modules/achievements/__tests__/achievement.plugin-cleanup.test.ts
  apps/api/src/modules/achievements/achievement.plugin.ts
  apps/api/src/modules/admin/__tests__/certificate.events.test.ts
  apps/api/src/modules/admin/certificate.events.ts
  apps/api/src/modules/admin/index.ts
  apps/api/src/modules/analytics/__tests__/analytics.service-cleanup.test.ts
  apps/api/src/modules/analytics/analytics.service.ts
Due: eslint --fix, prettier --write

feat: [medium] content.plugin.ts exhibits stamp coupling and temporal coupling
  apps/api/src/modules/content/content.plugin.ts
Due: eslint --fix, prettier --write

feat: [high] authorization-performance.test.ts uses math.random() making p99 latency tests non-deter
  apps/api/src/shared/middleware/__tests__/authorization-performance.test.ts
Due: eslint --fix, prettier --write

feat: [medium] createisolateddatabase helper pattern duplicated in 10+ route security/integration te
  apps/api/src/modules/__tests__/ai-pipeline-fallback.integration.test.ts
  apps/api/src/modules/__tests__/ai-prompt-templates.integration.test.ts
  apps/api/src/modules/__tests__/protected-route-auth.test.ts
  apps/api/src/modules/analytics/__tests__/analytics.routes.security.test.ts
  apps/api/src/modules/auth/__tests__/mfa-access-control.test.ts
  apps/api/src/modules/auth/__tests__/mfa.test.ts
  apps/api/src/modules/content/__tests__/content.repo.test.ts
  apps/api/src/modules/content/__tests__/email-templates.routes.test.ts
  apps/api/src/modules/content/__tests__/season-chapter-selection.test.ts
  apps/api/src/modules/content/scenarios/__tests__/scenarios.routes.test.ts
  apps/api/src/modules/content/seasons/__tests__/seasons.routes.test.ts
  apps/api/src/modules/email/__tests__/email.routes.security.test.ts
  apps/api/src/modules/notification/__tests__/notification.routes.security.test.ts
  apps/api/src/shared/database/__tests__/seed.test.ts
  apps/api/src/shared/database/migrations/__tests__/0015_admin_permission_backfill.test.ts
  packages/shared/src/testing/create-test-config.test.ts
  packages/shared/src/testing/create-test-config.ts
Due: eslint --fix, prettier --write

feat: [high] web component tests use settimeout for async waiting causing flaky tests
  apps/web/src/lib/game/components/ActiveThreatsList.test.ts
  apps/web/src/lib/game/components/DaySummary.test.ts
  apps/web/src/lib/game/components/IncidentResponse.test.ts
  apps/web/src/lib/game/components/SecurityToolsGrid.test.ts
  apps/web/src/lib/game/components/ThreatMonitor.test.ts
  apps/web/src/lib/game/store/sync-store.test.ts
  apps/web/src/lib/pwa/pwa.test.ts
  apps/web/src/lib/stores/session.test.ts
  apps/web/src/lib/utils/gestures.test.ts
Due: eslint --fix, prettier --write

feat: [medium] multiple test files use math.random() for unique id generation
  apps/api/src/__tests__/helpers/factory.ts
  apps/api/src/modules/__tests__/ai-prompt-templates.integration.test.ts
  apps/api/src/modules/__tests__/protected-route-auth.test.ts
  apps/api/src/modules/admin/__tests__/admin-dashboard.routes.test.ts
  apps/api/src/modules/admin/__tests__/admin-oidc.routes.test.ts
  apps/api/src/modules/admin/__tests__/admin-rate-limit.routes.test.ts
  apps/api/src/modules/admin/__tests__/admin-roles.routes.test.ts
  apps/api/src/modules/admin/__tests__/admin-saml.routes.test.ts
  apps/api/src/modules/admin/__tests__/admin-scim.routes.test.ts
  apps/api/src/modules/admin/__tests__/admin-tenants-management.routes.test.ts
  apps/api/src/modules/admin/__tests__/admin-tenants-provisioning.routes.test.ts
  apps/api/src/modules/admin/__tests__/admin-tenants.routes.test.ts
  apps/api/src/modules/admin/__tests__/admin-users.routes.test.ts
  apps/api/src/modules/admin/__tests__/campaign.routes.test.ts
  apps/api/src/modules/admin/__tests__/certificate.routes.test.ts
  apps/api/src/modules/admin/__tests__/compliance.routes.test.ts
  apps/api/src/modules/admin/__tests__/onboarding.routes.test.ts
  apps/api/src/modules/admin/__tests__/phishing-simulation-results.routes.test.ts
  apps/api/src/modules/admin/__tests__/phishing-simulation-templates.routes.test.ts
  apps/api/src/modules/admin/__tests__/phishing-simulation.routes.test.ts
  apps/api/src/modules/analytics/__tests__/analytics.routes.security.test.ts
  apps/api/src/modules/audit/__tests__/audit.routes.test.ts
  apps/api/src/modules/auth/__tests__/tenant-status-gating.test.ts
  apps/api/src/modules/cache/__tests__/cache.routes.security.test.ts
  apps/api/src/modules/content/__tests__/email-templates.routes.test.ts
  apps/api/src/modules/content/scenarios/__tests__/scenarios.routes.test.ts
  apps/api/src/modules/content/seasons/__tests__/seasons.routes.test.ts
  apps/api/src/modules/email/__tests__/email.routes.security.test.ts
  apps/api/src/modules/email/__tests__/quota.test.ts
  apps/api/src/modules/email/__tests__/warmup.test.ts
  apps/api/src/modules/notification/__tests__/notification.routes.security.test.ts
  packages/shared/src/testing/index.ts
  packages/shared/src/testing/test-id.test.ts
  packages/shared/src/testing/test-id.ts
Due: eslint --fix, prettier --write

feat(api): [high] scimerror thrown at 27+ sites with zero test coverage
  apps/api/src/modules/scim/__tests__/scim.service.test.ts
  apps/api/src/modules/scim/scim.service.ts
Due: eslint --fix, prettier --write

feat: [high] 78 import-x/no-restricted-paths suppressions indicate misconfigured module boundaries
  eslint.config.mjs
Due: none

feat(api): [high] ai pipeline invalidgeneratedoutputerror when all retries exhausted - untested
  apps/api/src/modules/ai-pipeline/__tests__/ai-pipeline.service.test.ts
  apps/api/src/modules/ai-pipeline/ai-pipeline-errors.ts
  apps/api/src/modules/ai-pipeline/ai-pipeline-orchestrator.ts
Due: eslint --fix, prettier --write

feat(api): [high] webhook processdelivery() three critical error paths completely untested
  apps/api/src/modules/webhooks/__tests__/webhook.service.test.ts
Due: eslint --fix, prettier --write

feat: [medium] gestures.ts (276 lines) accumulated 5 unrelated gesture handlers over time
  apps/web/src/lib/utils/gestures.ts
  apps/web/src/lib/utils/haptics.test.ts
  apps/web/src/lib/utils/haptics.ts
  apps/web/src/lib/utils/long-press.test.ts
  apps/web/src/lib/utils/long-press.ts
  apps/web/src/lib/utils/pan.test.ts
  apps/web/src/lib/utils/pan.ts
  apps/web/src/lib/utils/pinch-zoom.test.ts
  apps/web/src/lib/utils/pinch-zoom.ts
  apps/web/src/lib/utils/swipe.test.ts
  apps/web/src/lib/utils/swipe.ts
Due: eslint --fix, prettier --write

feat: [high] notification.service.ts mixes deduplication, throttling, delivery logging, and notifica
  apps/api/src/modules/notification/__tests__/dedupe.store.test.ts
  apps/api/src/modules/notification/__tests__/delivery-logger.test.ts
  apps/api/src/modules/notification/__tests__/throttle.store.test.ts
  apps/api/src/modules/notification/dedupe.store.ts
  apps/api/src/modules/notification/delivery-logger.ts
  apps/api/src/modules/notification/index.ts
  apps/api/src/modules/notification/notification.service.ts
  apps/api/src/modules/notification/notification.types.ts
  apps/api/src/modules/notification/throttle.store.ts
Due: eslint --fix, prettier --write
