Repository TheMorpheus407/the-dmz: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.svelte": ["eslint --fix", "prettier --write --plugin prettier-plugin-svelte"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.css": ["prettier --write"]
}

feat: player profile module - display name, avatar, privacy mode
  apps/api/src/app.ts
  apps/api/src/db/schema/social/avatars.ts
  apps/api/src/db/schema/social/index.ts
  apps/api/src/db/schema/social/player-profiles.ts
  apps/api/src/modules/social/__tests__/player-profiles.service.test.ts
  apps/api/src/modules/social/index.ts
  apps/api/src/modules/social/player-profiles.routes.ts
  apps/api/src/modules/social/player-profiles.service.ts
  apps/api/src/modules/social/social.plugin.ts
  apps/api/src/shared/cache/index.ts
  apps/api/src/shared/cache/player-profile-cache.ts
  apps/api/src/shared/database/migrations/0036_social_player_profiles.sql
  apps/api/src/shared/database/migrations/meta/_journal.json
  apps/api/src/shared/database/schema/index.ts
  packages/shared/src/schemas/index.ts
  packages/shared/src/schemas/social.schema.ts
Due: eslint --fix, prettier --write

feat: social graph - friends, block, and mute with tenant isolation
  apps/api/src/db/schema/social/index.ts
  apps/api/src/db/schema/social/social-relationship.ts
  apps/api/src/modules/social/__tests__/social-relationship.service.test.ts
  apps/api/src/modules/social/index.ts
  apps/api/src/modules/social/social-relationship.routes.ts
  apps/api/src/modules/social/social-relationship.service.ts
  apps/api/src/modules/social/social.plugin.ts
  apps/api/src/shared/cache/index.ts
  apps/api/src/shared/cache/relationship-cache.ts
  apps/api/src/shared/database/migrations/0037_social_relationship.sql
Due: eslint --fix, prettier --write

feat: presence service - redis-backed online/offline/in-game status
  apps/api/src/db/schema/social/index.ts
  apps/api/src/db/schema/social/presence.ts
  apps/api/src/modules/notification/websocket/websocket.gateway.ts
  apps/api/src/modules/notification/websocket/websocket.types.ts
  apps/api/src/modules/social/__tests__/presence.service.test.ts
  apps/api/src/modules/social/presence.routes.ts
  apps/api/src/modules/social/presence.service.ts
  apps/api/src/modules/social/social.plugin.ts
  apps/api/src/shared/cache/index.ts
  apps/api/src/shared/cache/presence-cache.ts
  apps/api/src/shared/cache/redis-key-manifest.ts
  apps/api/src/shared/database/migrations/0038_presence_service.sql
Due: eslint --fix, prettier --write

feat(api): quick signals - predefined phrase system for safe communication
  apps/api/src/db/schema/social/index.ts
  apps/api/src/db/schema/social/quick-signals.ts
  apps/api/src/modules/notification/websocket/websocket.gateway.ts
  apps/api/src/modules/notification/websocket/websocket.types.ts
  apps/api/src/modules/social/__tests__/quick-signals.service.test.ts
  apps/api/src/modules/social/quick-signals.routes.ts
  apps/api/src/modules/social/quick-signals.service.ts
  apps/api/src/modules/social/social.plugin.ts
  apps/api/src/shared/database/migrations/0039_quick_signals.sql
  packages/shared/src/schemas/social.schema.ts
Due: eslint --fix, prettier --write

feat(api): global and regional leaderboards
  apps/api/src/db/schema/social/index.ts
  apps/api/src/db/schema/social/leaderboard.ts
  apps/api/src/modules/content/email-pool/__tests__/email-pool.service.test.ts
  apps/api/src/modules/social/__tests__/leaderboard.service.test.ts
  apps/api/src/modules/social/leaderboard.routes.ts
  apps/api/src/modules/social/leaderboard.service.ts
  apps/api/src/modules/social/social.plugin.ts
  apps/api/src/shared/database/migrations/0040_leaderboard.sql
  apps/api/src/shared/database/migrations/meta/_journal.json
  apps/api/src/shared/database/redis.ts
  apps/api/src/shared/middleware/__tests__/rate-limiter.test.ts
Due: eslint --fix, prettier --write

feat: avatar system - pre-approved cosmetic assets with curated selection
  apps/api/src/db/schema/social/avatars.ts
  apps/api/src/db/schema/social/index.ts
  apps/api/src/db/schema/social/tenant-avatar-restrictions.ts
  apps/api/src/modules/social/__tests__/player-profiles.service.test.ts
  apps/api/src/modules/social/player-profiles.routes.ts
  apps/api/src/modules/social/player-profiles.service.ts
  apps/api/src/shared/database/migrations/0041_avatars.sql
  apps/api/src/shared/database/migrations/meta/_journal.json
  apps/api/src/shared/database/seed.ts
  packages/shared/src/schemas/social.schema.ts
Due: eslint --fix, prettier --write

feat(api): enterprise leaderboards - department-filtered, privacy-configurable
  apps/api/src/db/schema/social/leaderboard.ts
  apps/api/src/modules/social/__tests__/leaderboard.service.test.ts
  apps/api/src/modules/social/leaderboard.routes.ts
  apps/api/src/modules/social/leaderboard.service.ts
  apps/api/src/shared/database/migrations/0042_enterprise_leaderboard.sql
  apps/api/src/shared/database/migrations/meta/_journal.json
  packages/shared/src/schemas/social.schema.ts
Due: eslint --fix, prettier --write

feat(web): achievement and badge system - security competency milestones and progression rewards
  apps/api/src/db/schema/social/achievement-definitions.ts
  apps/api/src/db/schema/social/achievement-icon.ts
  apps/api/src/db/schema/social/index.ts
  apps/api/src/db/schema/social/player-achievements.ts
  apps/api/src/modules/achievements/__tests__/achievement.service.test.ts
  apps/api/src/modules/achievements/__tests__/criteria-engine.test.ts
  apps/api/src/modules/achievements/achievement.criteria-engine.ts
  apps/api/src/modules/achievements/achievement.events.ts
  apps/api/src/modules/achievements/achievement.plugin.ts
  apps/api/src/modules/achievements/achievement.routes.ts
  apps/api/src/modules/achievements/achievement.service.ts
  apps/api/src/modules/achievements/index.ts
  apps/api/src/modules/game/session/game-session.repo.ts
  apps/api/src/modules/manifest.ts
  apps/api/src/shared/database/migrations/0043_achievements.sql
  apps/api/src/shared/database/migrations/meta/_journal.json
  apps/api/src/shared/database/seed.ts
  apps/api/src/shared/events/ownership-manifest.ts
  packages/shared/src/contracts/achievement-contract.ts
  packages/shared/src/contracts/index.ts
Due: eslint --fix, prettier --write

feat(api): endorsement system - post-session structured commendations
  apps/api/package.json
  apps/api/src/db/schema/social/endorsement-decay.ts
  apps/api/src/db/schema/social/endorsement-tags.ts
  apps/api/src/db/schema/social/endorsement.ts
  apps/api/src/db/schema/social/index.ts
  apps/api/src/modules/social/__tests__/endorsement.service.test.ts
  apps/api/src/modules/social/endorsement.routes.ts
  apps/api/src/modules/social/endorsement.service.ts
  apps/api/src/modules/social/index.ts
  apps/api/src/modules/social/social.plugin.ts
  apps/api/src/shared/database/migrations/0044_endorsements.sql
  apps/api/src/shared/database/migrations/meta/_journal.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(api): reputation system v1 - endorsements, session completion, and reports
  apps/api/src/db/schema/social/index.ts
  apps/api/src/db/schema/social/reputation-history.ts
  apps/api/src/db/schema/social/reputation-score.ts
  apps/api/src/modules/social/__tests__/reputation.service.test.ts
  apps/api/src/modules/social/index.ts
  apps/api/src/modules/social/reputation.routes.ts
  apps/api/src/modules/social/reputation.service.ts
  apps/api/src/modules/social/social.plugin.ts
  apps/api/src/shared/database/migrations/0045_reputation_system.sql
  apps/api/src/shared/database/migrations/meta/_journal.json
Due: eslint --fix, prettier --write

feat(api): moderation pipeline v1 - automated filtering, rate limiting, and user reporting
  apps/api/src/db/schema/social/index.ts
  apps/api/src/db/schema/social/moderation-action.ts
  apps/api/src/db/schema/social/moderation-blocklist.ts
  apps/api/src/db/schema/social/moderation-report.ts
  apps/api/src/db/schema/social/rate-limit-config.ts
  apps/api/src/modules/social/__tests__/content-filter.service.test.ts
  apps/api/src/modules/social/__tests__/moderation.service.test.ts
  apps/api/src/modules/social/__tests__/rate-limit.service.test.ts
  apps/api/src/modules/social/content-filter.service.ts
  apps/api/src/modules/social/moderation-enforcement.service.ts
  apps/api/src/modules/social/moderation.routes.ts
  apps/api/src/modules/social/moderation.service.ts
  apps/api/src/modules/social/rate-limit.service.ts
  apps/api/src/modules/social/social.plugin.ts
  apps/api/src/shared/database/migrations/0046_moderation_pipeline.sql
  apps/api/src/shared/database/migrations/meta/_journal.json
  apps/api/src/shared/middleware/moderation-enforcement.ts
Due: eslint --fix, prettier --write

feat(api): enterprise consent and privacy - anonymous-by-default profiles and tenant policy enforcem
  apps/api/src/db/schema/social/index.ts
  apps/api/src/db/schema/social/player-consent.ts
  apps/api/src/modules/social/__tests__/consent.service.test.ts
  apps/api/src/modules/social/__tests__/privacy.service.test.ts
  apps/api/src/modules/social/consent.routes.ts
  apps/api/src/modules/social/consent.service.ts
  apps/api/src/modules/social/privacy.routes.ts
  apps/api/src/modules/social/privacy.service.ts
  apps/api/src/modules/social/social.plugin.ts
  apps/api/src/shared/database/migrations/0047_enterprise_privacy.sql
  apps/api/src/shared/database/migrations/meta/_journal.json
  apps/api/src/shared/database/schema/index.ts
  apps/api/src/shared/database/schema/tenant-privacy-settings.ts
Due: eslint --fix, prettier --write

feat: party system - formation, ready-check, and role preference
  apps/api/src/db/schema/multiplayer/index.ts
  apps/api/src/db/schema/multiplayer/party-member.ts
  apps/api/src/db/schema/multiplayer/party.ts
  apps/api/src/modules/manifest.ts
  apps/api/src/modules/multiplayer/__tests__/party.service.test.ts
  apps/api/src/modules/multiplayer/index.ts
  apps/api/src/modules/multiplayer/invite-code.ts
  apps/api/src/modules/multiplayer/party.plugin.ts
  apps/api/src/modules/multiplayer/party.routes.ts
  apps/api/src/modules/multiplayer/party.service.ts
  apps/api/src/shared/cache/index.ts
  apps/api/src/shared/cache/party-cache.ts
  apps/api/src/shared/cache/redis-key-manifest.ts
  apps/api/src/shared/database/schema/index.ts
Due: eslint --fix, prettier --write

feat: co-op session service - session lifecycle, role assignment, and authority token
  apps/api/src/db/schema/multiplayer/coop-decision-proposal.ts
  apps/api/src/db/schema/multiplayer/coop-incident-response.ts
  apps/api/src/db/schema/multiplayer/coop-role-assignment.ts
  apps/api/src/db/schema/multiplayer/coop-session.ts
  apps/api/src/db/schema/multiplayer/index.ts
  apps/api/src/modules/multiplayer/__tests__/coop-session.service.test.ts
  apps/api/src/modules/multiplayer/coop-session.events.ts
  apps/api/src/modules/multiplayer/coop-session.plugin.ts
  apps/api/src/modules/multiplayer/coop-session.routes.ts
  apps/api/src/modules/multiplayer/coop-session.service.ts
  apps/api/src/modules/multiplayer/index.ts
  apps/api/src/shared/cache/coop-session-cache.ts
  apps/api/src/shared/cache/index.ts
  apps/api/src/shared/cache/redis-key-manifest.ts
  apps/api/src/shared/database/migrations/0048_coop_session.sql
  apps/api/src/shared/database/migrations/meta/_journal.json
  apps/api/src/shared/events/ownership-manifest.ts
Due: eslint --fix, prettier --write

feat(web): co-op ui — split-pane view, role controls, and decision queue
  .issue-temp.md
  apps/web/src/lib/api/coop.ts
  apps/web/src/lib/game/components/AuthorityIndicator.svelte
  apps/web/src/lib/game/components/AuthorityIndicator.test.ts
  apps/web/src/lib/game/components/CoopDecisionQueue.svelte
  apps/web/src/lib/game/components/CoopDecisionQueue.test.ts
  apps/web/src/lib/game/components/CoopGameLayout.svelte
  apps/web/src/lib/game/components/QuickSignalBadges.svelte
  apps/web/src/lib/game/components/QuickSignalBadges.test.ts
  apps/web/src/lib/game/components/RoleHeaderBadge.svelte
  apps/web/src/lib/game/components/RoleHeaderBadge.test.ts
  apps/web/src/lib/game/services/coop-events.types.ts
  apps/web/src/lib/game/services/coop-websocket.ts
  apps/web/src/lib/game/store/coop-store.ts
  packages/shared/src/schemas/coop-session.schema.ts
  packages/shared/src/schemas/index.ts
Due: eslint --fix, prettier --write, prettier --write --plugin prettier-plugin-svelte

feat(api): co-op threat scaling — difficulty adjustment for party size
  apps/api/src/modules/game/engine/reducer.ts
  apps/api/src/modules/game/threat-engine/__tests__/threat-engine.test.ts
  apps/api/src/modules/game/threat-engine/threat-engine.service.ts
  packages/shared/src/game/coop-scaling.ts
  packages/shared/src/game/index.ts
  packages/shared/src/types/game-state.ts
Due: eslint --fix, prettier --write

feat(api): text chat service — opt-in, moderation-filtered, enterprise-disableable
  apps/api/src/db/schema/retention/index.ts
  apps/api/src/db/schema/social/chat-channel.ts
  apps/api/src/db/schema/social/chat-message.ts
  apps/api/src/db/schema/social/index.ts
  apps/api/src/db/schema/social/rate-limit-config.ts
  apps/api/src/modules/chat/__tests__/chat.service.test.ts
  apps/api/src/modules/chat/__tests__/party-chat-lifecycle.integration.test.ts
  apps/api/src/modules/chat/chat.plugin.ts
  apps/api/src/modules/chat/chat.routes.ts
  apps/api/src/modules/chat/chat.service.ts
  apps/api/src/modules/chat/chat.ws.handler.ts
  apps/api/src/modules/chat/index.ts
  apps/api/src/modules/manifest.ts
  apps/api/src/modules/multiplayer/party.service.ts
  apps/api/src/modules/notification/websocket/websocket.gateway.ts
  apps/api/src/modules/notification/websocket/websocket.types.ts
  apps/api/src/modules/retention/archive.service.ts
  apps/api/src/modules/retention/workers/retention.worker.ts
Due: eslint --fix, prettier --write

feat: decision arbitration — proposal/confirm/override workflow and authority token
  apps/api/src/db/schema/multiplayer/coop-decision-proposal.ts
  apps/api/src/modules/multiplayer/__tests__/arbitration.test.ts
  apps/api/src/modules/multiplayer/__tests__/authority-token.test.ts
  apps/api/src/modules/multiplayer/arbitration.events.ts
  apps/api/src/modules/multiplayer/arbitration.service.ts
  apps/api/src/modules/multiplayer/authority-token.service.ts
  apps/api/src/modules/multiplayer/coop-session.service.ts
  packages/shared/src/schemas/coop-session.schema.ts
Due: eslint --fix, prettier --write

feat: co-op state synchronization — server-authoritative, lock-free optimistic concurrency, websocke
  apps/api/src/db/ownership/manifest.ts
  apps/api/src/db/schema/multiplayer/coop-session.ts
  apps/api/src/modules/coop/sync/__tests__/sync.test.ts
  apps/api/src/modules/coop/sync/index.ts
  apps/api/src/modules/coop/sync/reconnect.service.ts
  apps/api/src/modules/coop/sync/snapshot.service.ts
  apps/api/src/modules/coop/sync/sync.service.ts
  apps/api/src/modules/coop/sync/websocket.handler.ts
  apps/api/src/modules/multiplayer/coop-session.service.ts
  apps/api/src/modules/notification/websocket/websocket.types.ts
  apps/api/src/shared/database/migrations/0049_coop_session_sync.sql
  apps/api/src/shared/database/migrations/0050_coop_session_game_session_link.sql
  apps/api/src/shared/database/migrations/meta/_journal.json
  apps/web/src/lib/game/components/CoopDecisionQueue.test.ts
  apps/web/src/lib/game/services/coop-websocket.ts
  packages/shared/src/schemas/coop-session.schema.ts
Due: eslint --fix, prettier --write

feat: role-based permission matrix — server-enforced, extensible to 6 roles
  apps/api/src/db/schema/multiplayer/coop-session.ts
  apps/api/src/modules/multiplayer/__tests__/coop-session.service.test.ts
  apps/api/src/modules/multiplayer/coop-session.routes.ts
  apps/api/src/modules/multiplayer/coop-session.service.ts
  apps/api/src/modules/multiplayer/permissions/__tests__/permission-matrix.test.ts
  apps/api/src/modules/multiplayer/permissions/__tests__/permission.enforcer.test.ts
  apps/api/src/modules/multiplayer/permissions/index.ts
  apps/api/src/modules/multiplayer/permissions/permission-matrix.ts
  apps/api/src/modules/multiplayer/permissions/permission.enforcer.ts
  apps/api/src/modules/multiplayer/permissions/role-config.service.ts
Due: eslint --fix, prettier --write

feat: two-player co-op missions — triage lead and verification lead roles and named scenarios
  apps/api/openapi/openapi.v1.json
  apps/api/src/app.ts
  apps/api/src/db/schema/multiplayer/coop-role-assignment.ts
  apps/api/src/db/schema/multiplayer/coop-scenario.ts
  apps/api/src/db/schema/multiplayer/coop-session.ts
  apps/api/src/db/schema/multiplayer/index.ts
  apps/api/src/modules/coop/scenarios/__tests__/role-assignment.test.ts
  apps/api/src/modules/coop/scenarios/__tests__/scenarios.test.ts
  apps/api/src/modules/coop/scenarios/index.ts
  apps/api/src/modules/coop/scenarios/role-assignment.service.ts
  apps/api/src/modules/coop/scenarios/scenario.engine.ts
  apps/api/src/modules/coop/scenarios/scenarios.plugin.ts
  apps/api/src/modules/coop/scenarios/scenarios.routes.ts
  apps/api/src/modules/coop/scenarios/scenarios.ts
  apps/api/src/modules/manifest.ts
  apps/api/src/modules/multiplayer/coop-session.events.ts
  apps/api/src/modules/multiplayer/coop-session.routes.ts
  apps/api/src/modules/multiplayer/coop-session.service.ts
  apps/api/src/shared/database/migrations/0051_coop_scenarios.sql
  apps/api/src/shared/database/migrations/0052_coop_session_scenario_and_role_preference.sql
  apps/api/src/shared/database/migrations/meta/_journal.json
  apps/api/src/shared/events/ownership-manifest.ts
  packages/shared/src/game/coop-scenarios.ts
  packages/shared/src/game/index.ts
Due: eslint --fix, prettier --write

feat: multiplayer analytics
  apps/api/src/db/schema/analytics/index.ts
  apps/api/src/db/schema/game/events.schema.ts
  apps/api/src/modules/analytics/__tests__/coop-attribution.test.ts
  apps/api/src/modules/analytics/analytics.service.ts
  apps/api/src/modules/analytics/event-validator.ts
  apps/api/src/modules/coop/sync/sync.service.ts
  apps/api/src/modules/game/event-store/event-store.repo.ts
  packages/shared/src/schemas/analytics.schema.ts
Due: eslint --fix, prettier --write

feat: [critical] unauthenticated tenant management endpoints allow complete infrastructure takeover
  apps/api/src/modules/admin/__tests__/admin-tenants.routes.test.ts
  apps/api/src/modules/admin/admin-tenants.routes.ts
Due: eslint --fix, prettier --write

feat: [critical] missing authorization on role assignment endpoints allows privilege escalation
  apps/api/src/modules/admin/admin-roles.routes.ts
Due: eslint --fix, prettier --write

feat: [high] admin dashboard endpoint missing authorization allows data exposure
  apps/api/openapi/openapi.v1.json
  apps/api/src/modules/admin/__tests__/admin-dashboard.routes.test.ts
  apps/api/src/modules/admin/admin-dashboard.routes.ts
Due: eslint --fix, prettier --write

feat: [high] rollup arbitrary file write via path traversal (cve-2025-46660)
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: [high] minimatch multiple redos vulnerabilities
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: [moderate] undici http smuggling, crlf injection, and memory exhaustion
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: [high] hardcoded grafana admin credentials in docker-compose.yml
  .env.example
  docker-compose.yml
Due: prettier --write

feat: [medium] hardcoded database credentials in github actions workflows
  .github/workflows/ci.yml
  .github/workflows/load-tests.yml
Due: prettier --write

feat: [medium] incomplete .gitignore allows accidental commit of sensitive files
  .gitignore
Due: none

feat: [medium] incomplete sanitization in audit hook allows sensitive data in logs
  apps/api/src/modules/audit/__tests__/audit.hook.test.ts
  apps/api/src/modules/audit/audit.hook.ts
  packages/shared/src/contracts/logging-manifest.ts
Due: eslint --fix, prettier --write

feat: [medium] docker compose defaults to weak postgresql credentials
  .env.example
  docker-compose.yml
Due: prettier --write

feat: [critical] unprotected service account and api key management endpoints
  apps/api/openapi/openapi.v1.json
  apps/api/src/modules/auth/api-key.routes.ts
  apps/api/src/modules/auth/auth.plugin.ts
  apps/api/src/modules/auth/service-account.routes.ts
Due: eslint --fix, prettier --write

feat: [critical] mfa verification endpoint has no rate limiting — allows brute-forcing totp and back
  apps/api/src/db/schema/auth/sessions.ts
  apps/api/src/modules/auth/mfa.routes.ts
  apps/api/src/modules/auth/totp.ts
  packages/shared/src/contracts/rate-limit-policy.ts
Due: eslint --fix, prettier --write

feat: [critical] crlf injection in deprecation header via request.url
  apps/api/openapi/openapi.v1.json
  apps/api/src/shared/middleware/deprecation.ts
  apps/api/src/shared/utils/__tests__/sanitizer.test.ts
  apps/api/src/shared/utils/sanitizer.ts
Due: eslint --fix, prettier --write

feat: [high] jwt_private_key_encryption_key uses weak default in production
  apps/api/src/modules/auth/auth.sso.service.ts
  apps/api/src/modules/auth/totp.ts
  packages/shared/src/env.ts
Due: eslint --fix, prettier --write

feat: [high] crlf injection in x-request-id response header
  apps/api/src/shared/middleware/__tests__/request-logger.test.ts
  apps/api/src/shared/middleware/request-logger.ts
Due: eslint --fix, prettier --write

feat: [medium] oauth client secret rotation allows indefinite use of old secret
  apps/api/src/db/schema/auth/oauth-clients.ts
  apps/api/src/modules/auth/__tests__/oauth.test.ts
  apps/api/src/modules/auth/auth.repo.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/shared/database/migrations/0053_oauth_client_grace_period.sql
  apps/api/src/shared/database/migrations/meta/_journal.json
Due: eslint --fix, prettier --write

feat: [high] pdfkit ssrf vulnerability (cve-2022-24757)
  apps/api/package.json
  pnpm-lock.yaml
Due: prettier --write
